<head>
    <link href='fullcalendar/main.css' rel='stylesheet' />
</head>

<h1 class="mb-5" data-key="Kalender">
    Kalender
</h1>
<div id='calendar'></div>

{{> event-modal}}
{{#if isAdmin}}
    {{> create-event-modal}}
{{/if}}

<script src='fullcalendar/main.js'></script>
<script src='fullcalendar/locales/da.js'></script>
<script src='javascript/calendar.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'listMonth',
            themeSystem: 'bootstrap',
            height: 'auto',
            headerToolbar: {
                start: 'title', // will normally be on the left. if RTL, will be on the right
                center: '',
                end: 'prevYear,prev today next,nextYear' // will normally be on the right. if RTL, will be on the left
            },
            titleFormat: {
                year: 'numeric',
                month: 'long'
            },
            locale: '{{language}}',
            timeZone: 'local',
            buttonText: {
                today: '{{language}}' === 'en' ? 'today' : 'i dag',
                month: '{{language}}' === 'en' ? 'month' : 'måned',
                week: '{{language}}' === 'en' ? 'week' : 'uge',
                day: '{{language}}' === 'en' ? 'day' : 'dag',
                list: '{{language}}' === 'en' ? 'list' : 'liste'
            },
            eventClick: function (info) {
                openEvent(info);
            },
            dateClick: function (info) {
                createEvent(info, '{{isAdmin}}');
            }
        });

        getEvents(calendar);
        calendar.render();
    });

</script>