{{#each json}}
    <div class="card mb-3">
        <div class="row">
            <div class="col-auto">
                {{#if student.profilbillede}}
                    <img class="center-cropped" src="/uploads/{{student.profilbillede}}">
                {{else}}
                    <img class="center-cropped" src="images/dummy-profile-pic.jpg">
                {{/if}}
            </div>
            <div class="col">
                <div class="card-body newLineContent">
                    <h5 class="card-title">{{student.fornavn}} {{student.efternavn}}</h5>
                    <h6 class="card-title" data-key="{{education.name}}">{{education.name}}</h6>
                    {{#if cvtype}}
                        <div style="display: flex; flex-direction: row">
                            <p class="card-title" data-key="Soeger:">Søger:</p>&nbsp;
                                {{#each cvtype}}
                                    {{#if @last}}
                                        <p data-key="{{cvtype}}">{{cvtype}}</p>
                                    {{else}}
                                        <p data-key="{{cvtype}}">{{cvtype}}</p>,&nbsp;
                                    {{/if}}
                                {{/each}}
                        </div>
                    {{/if}}
                    <p class="card-text autobreak">{{overskrift}}</p>
                </div>
            </div>
        </div>
        <a href='/search-cv/{{id}}' class="stretched-link"></a>
    </div>
{{/each}}