{{#each json}}
    <div id="card{{id}}" class="card mb-3">
        <div class="row">
            <div class="col-auto">
                <a href='/search-professor-cv/{{id}}' class="stretched-link">
                    {{#if professor.profilbillede}}
                        <img class="center-cropped" src="/uploads/{{professor.profilbillede}}">
                    {{else}}
                        <img class="center-cropped" src="/images/dummy-profile-pic.jpg">
                    {{/if}}
                </a>
            </div>
            <div class="col">
                <a href='/search-professor-cv/{{id}}' class="stretched-link">
                    <div class="card-body newLineContent">
                        <h5 class="card-title">{{professor.fornavn}} {{professor.efternavn}}, {{position.name}}</h5>
                        <div class="row ml-0 mb-2">
                            {{#each Education}}
                                {{#ifCond @index '<' 5}}
                                    {{#if @last}}
                                        <h6 class="mb-0" data-key="{{name}}">{{name}}</h6>
                                    {{else}}
                                        <h6 class="mb-0" data-key="{{name}}">{{name}}</h6>,&nbsp;
                                    {{/if}}
                                {{/ifCond}}
                                {{#ifCond @index '==' 5}}
                                    <h6 class="mb-0" data-key="m.fl.">m.fl.</h6>
                                {{/ifCond}}
                            {{/each}}
                        </div>
                        <h6 class="ml-0 mb-2">
                            {{campus.name}}
                        </h6>
                        <p class="card-text autobreak">{{overskrift}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{{/each}}