{{#if withPages}}
        <input id="currentPage" type="hidden">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{#paginate pagination type="first"}}
                <li {{#if disabled}} class="page-item disabled"{{/if}} class="page-item"><a class="page-link" href="#" onclick="changePage({{n}})" data-key="Foerste">Første</a></li>
                {{/paginate}}
                {{#paginate pagination type="previous"}}
                <li {{#if disabled}} class="page-item disabled" {{/if}} class="page-item"><a class="page-link" href="#" onclick="changePage({{n}})" data-key="Forrige">Forrige</a></li>
                {{/paginate}}
                {{#paginate pagination type="middle" limit="7"}}
                <li {{#if active}} class="page-item active" {{/if}} id="page-middle" class="page-item"><a class="page-link" href="#" onclick="changePage({{n}})">{{n}}</a></li>
                {{/paginate}}
                {{#paginate pagination type="next"}}
                <li {{#if disabled}} class="page-item disabled" {{/if}} class="page-item"><a class="page-link" href="#" onclick="changePage({{n}})" data-key="Naeste">Næste</a></li>
                {{/paginate}}
                {{#paginate pagination type="last"}}
                <li {{#if disabled}} class="page-item disabled" {{/if}} class="page-item"><a class="page-link" href="#" onclick="changePage({{n}})" data-key="Sidste">Sidste</a></li>
                {{/paginate}}
            </ul>
        </nav>
{{/if}}