{{#each json}}
<div class="card mb-3">
    <div class="row">
        <div class="col-auto">
            {{#if company_logo}}
            <img class="center-cropped" src="/uploads/{{company_logo}}">
            {{else}}
            <img class="center-cropped" src="images/no-logo.png">
            {{/if}}
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-title">{{email}}</h6>
                <p class="card-text autobreak">{{post_text}}</p>

            </div>
        </div>
    </div>
    {{!-- <a href='/search-praktik/{{id}}' class="stretched-link"></a> --}}
    <div class="card-footer">
        <div class="d-flex">
            <p class="font-weight-bold pr-1">By:</p><p>{{city}}</p>
        </div>
        <div class="d-flex">
            <p class="font-weight-bold pr-1">Start:</p> <p class="pr-2">{{post_start_date}}</p> <p class="font-weight-bold pr-1">Slut:</p>  <p>{{post_end_date}}</p>
        </div>
        
        
    </div>
    <a href='/internship_view/{{id}}' class="stretched-link"></a>
</div>
{{/each}}