{{#each json}}
    <div class="card mb-3">
        <div class="row">
            <div class="col-auto">
                <a href='/search-cv/{{id}}' class="stretched-link">
                    {{#if student.profilbillede}}
                        <img class="center-cropped" src="/uploads/{{student.profilbillede}}">
                    {{else}}
                        <img class="center-cropped" src="/images/dummy-profile-pic.jpg">
                    {{/if}}
                </a>
            </div>
            <div class="col">
                <a href='/search-cv/{{id}}' class="stretched-link">
                    <div class="card-body newLineContent">
                        <h5 class="card-title">{{student.fornavn}} {{student.efternavn}}</h5>
                        <h6 class="card-title" data-key="{{education.name}}">{{education.name}}</h6>
                        {{#if cvtype}}
                            <div style="display: flex; flex-direction: row">
                                <p class="card-title" data-key="Soeger:">Søger:</p>&nbsp;
                                {{#each cvtype}}
                                    {{#if @last}}
                                        <p data-key="{{cvtype}}">{{cvtype}}</p>
                                    {{else}}
                                        <p data-key="{{cvtype}}">{{cvtype}}</p>,&nbsp;
                                    {{/if}}
                                {{/each}}
                            </div>
                        {{/if}}
                        <p class="card-text autobreak">{{overskrift}}</p>
                    </div>
                </a>
            </div>
            <div class="col-auto mr-3 mt-2">
                {{#if ../isCompany}}
                    <button class="btn fav-button" style="outline: none;" onclick="favourite({{id}})">
                        {{#if isFavourite}}
                            <i id="fav-icon{{id}}" class="icon-heart icon-2x favourite"></i>
                        {{else}}
                            <i id="fav-icon{{id}}" class="icon-heart-empty icon-2x unfavourite"></i>
                        {{/if}}
                    </button>
                {{/if}}

            </div>
        </div>
    </div>
{{/each}}

<script src="/javascript/animation.js"></script>
<script>
    function favourite(id) {
        console.log("testing stuff")
    }
</script>