{{#each json}}
    <div id="card{{id}}" class="card mb-3">
        <div class="card-header p-0">
            <h6 class="m-2" data-key="{{post_type}}">
                {{post_type}}
            </h6>
        </div>
        <div class="row">
            {{#unless ../inProfile}}
            <div class="col-auto">
                <a href='/internship_view/{{id}}' class="stretched-link">
                    {{#if virksomhed.logo}}
                        <img class="center-cropped" src="/uploads/{{virksomhed.logo}}">
                    {{else}}
                        <img class="center-cropped" src="/images/no-logo.png">
                    {{/if}}
                </a>
            </div>
            {{/unless}}
            <div class="col">
                <a href='/internship_view/{{id}}' class="stretched-link">
                    <div class="card-body">
                        <h4 class="card-title pb-1">{{title}}</h4>
                        {{#unless ../inProfile}}
                        <h6 class="card-text autobreak mb-1">{{virksomhed.navn}}</h6>
                        {{/unless}}
                        {{#if postcode}}
                            <h6 class="card-text autobreak small text-secondary m-0">{{postcode}} {{city}}
                                , {{region}}</h6>
                        {{/if}}
                    </div>
                </a>
            </div>
            <div class="col-auto mr-2 mt-2">
                {{#if ../isStudent}}
                    <button class="btn fav-button" style="outline: none;" onclick="favourite({{id}})">
                        {{#if isFavourite}}
                            <i id="fav-icon{{id}}" class="fas fa-star fa-2x"></i>
                        {{else}}
                            <i id="fav-icon{{id}}" class="far fa-star fa-2x"></i>
                        {{/if}}
                    </button>
                {{/if}}

            </div>
        </div>
        <div class="card-footer">
            <div class="ml-4">
                <div class="row d-flex" style="justify-content: space-between">
                    <div class="row flex">
                        <p class="font-weight-bold pr-1 mb-0" data-key="Uddannelse_kolon">Uddannelse:</p>
                        <p class="pr-2 mb-0" data-key="{{education.name}}">{{education.name}}</p>
                    </div>
                    <div class="row mr-2 flex">
                        <p class="font-weight-bold pr-1 mb-0" data-key="Ansoegningsfrist_kolon">Ansøgningsfrist:</p>
                        {{#if post_start_date}}
                            <p class="pr-2 mb-0">{{post_start_date}}</p>
                        {{else}}
                            <p class="pr-2 mb-0" data-key="Ingen">Ingen</p>
                        {{/if}}
                        {{#if post_end_date}}
                            <p class="font-weight-bold pr-1 mb-0" data-key="Praktikstart_kolon">Praktikstart:</p>
                            <p class="mb-0">{{post_end_date}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}

<script src="/javascript/animation.js"></script>
<script>
    function favourite(id) {
        let xhr = new XMLHttpRequest()
        xhr.onload = function () {
            if (this.readyState == 4 && this.status == 200) {
                let icon = document.getElementById("fav-icon" + id)
                if (this.responseText === "true") {
                    icon.classList.remove('far');
                    icon.classList.add('fas');
                } else {
                    // If we're currently in "/favourites/posts" then remove the card element from the list view. If
                    // we're anywhere else then just leave the card in the view
                    const path = window.location.pathname;
                    if (path === "/favourites/posts"){
                        let card = document.getElementById("card" + id)
                        removeFadeOut(card, 300)
                    }
                    icon.classList.remove('fas');
                    icon.classList.add('far');
                }
            }
        }
        xhr.open('POST', '/favourites/mark-post-as-favourite');
        xhr.send(id);
    }
</script>