<head>
    <link href='fullcalendar/main.css' rel='stylesheet' />
</head>

<div class="container-fluid">
    <div class="col-12 col-lg-8 mt-5 mb-5">
        <div id='calendar'></div>
    </div>
</div>

{{> event-modal}}
{{#if isAdmin}}
<div hidden="true" id="eventModalCreate">
{{> event-modal-create}}
</div>
<div hidden="true" id="eventModalShow">
{{> event-modal-show}}
</div>
{{/if}}

<script src='fullcalendar/main.js'></script>
<script src='fullcalendar/locales/da.js'></script>
<script src='javascript/calendar.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            themeSystem: 'bootstrap',
            headerToolbar: {
                start: 'title', // will normally be on the left. if RTL, will be on the right
                center: '',
                end: 'prevYear,prev today next,nextYear' // will normally be on the right. if RTL, will be on the left
            },
            titleFormat: {
                year: 'numeric',
                month: 'long'
            },
            locale: '{{language}}',
            timeZone: 'local',
            buttonText: {
                today: '{{language}}' === 'en' ? 'today' : 'i dag',
                month: '{{language}}' === 'en' ? 'month' : 'måned',
                week: '{{language}}' === 'en' ? 'week' : 'uge',
                day: '{{language}}' === 'en' ? 'day' : 'dag',
                list: '{{language}}' === 'en' ? 'list' : 'liste'
            },
            eventClick: function (info) {
                openEvent(info, '{{isAdmin}}');
            },
            dateClick: function (info) {
                createEvent(info, '{{isAdmin}}');
            }
        });

        getEvents(calendar);
        calendar.render();

        if ('{{isAdmin}}' === 'true') {
            $('#eventModal').on('hidden.bs.modal', function (e) {
                document.getElementById('modal-content').innerHTML = document.getElementById('eventModalShow').innerHTML;
            });
        }  
    });

</script>