<div class="container-fluid">
    <div class="col-12 col-lg-8 mt-5 mb-5">
        <div id='calendar'></div>
    </div>
</div>

{{> event-modal}}
{{#if isAdmin}}
{{> create-event-modal}}
{{/if}}

<script src='fullcalendar/main.js'></script>
<script src='fullcalendar/locales/da.js'></script>
<script>
    function openEventModal() {
        $(document).ready(function () {
            $('#eventModal').modal({
                backdrop: 'static',
                keyboard: false
            });

            $("#eventModal").modal('show');
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        let isAdmin = '{{ isAdmin }}' === 'true'

        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            themeSystem: 'bootstrap',
            headerToolbar: {
                start: 'title', // will normally be on the left. if RTL, will be on the right
                center: '',
                end: 'prevYear,prev today next,nextYear' // will normally be on the right. if RTL, will be on the left
            },
            titleFormat: {
                year: 'numeric',
                month: 'long'
            },
            locale: '{{language}}',
            timeZone: 'local',
            buttonText: {
                today: '{{language}}' === 'en' ? 'today' : 'i dag',
                month: '{{language}}' === 'en' ? 'month' : 'måned',
                week: '{{language}}' === 'en' ? 'week' : 'uge',
                day: '{{language}}' === 'en' ? 'day' : 'dag',
                list: '{{language}}' === 'en' ? 'list' : 'liste'
            },
            // // Experiment with a popover
            // eventDidMount: function(info) {
            //     info.el.setAttribute("title", info.event._def.title);
            //     info.el.setAttribute("data-content", info.event.extendedProps.description);
            //     info.el.setAttribute("data-toggle", "popover");
            // },
            eventClick: function (info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate
                document.getElementById("eventTitle").innerHTML = info.event._def.title;
                document.getElementById("startTime").innerHTML = "<b>Starttidspunkt: </b>" + info.event.extendedProps.formattedStartDate;
                document.getElementById("endTime").innerHTML = "<b>Sluttidspunkt: </b>" + info.event.extendedProps.formattedEndDate;
                document.getElementById("eventDescription").innerHTML = info.event.extendedProps.description;
                if (info.event._def.url) {
                    document.getElementById("eventURL").innerHTML = info.event._def.url;
                    document.getElementById("eventURL").href = info.event._def.url;
                } else {
                    document.getElementById("eventURL").innerHTML = null;
                    document.getElementById("eventURL").href = null;
                }
                openEventModal()
            },

            dateClick: function (info) {
                if (!isAdmin) {
                    return;
                }

                $(document).ready(function () {
                    $('#createEventModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });

                    $("#createEventModal").modal('show');

                    document.getElementById('startDate').value = info.dateStr

                    $('#createEventModal').on('hidden.bs.modal', function (e) {
                        document.getElementById('eventForm').reset();
                        greyOutTime()
                    })
                });

                
            }
        });

        let events = null;
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {
            events = JSON.parse(xhr.responseText);
            for (let event of events) {
                let formattedEvent = {
                    title: event.title,
                    start: event.startDate,
                    end: event.endDate,
                    description: event.description,
                    formattedStartDate: event.formattedStartDate,
                    formattedEndDate: event.formattedEndDate,
                }
                if (event.url) {
                    formattedEvent.url = event.url
                }
                calendar.addEvent(formattedEvent)
            }
        }
        xhr.open("POST", '/calendar/events');
        xhr.send();

        calendar.render();
    });

</script>