<div class="container-fluid">
    <div class="row mt-4 mb-4">
        <div class="col-2">
            <img class="img-thumbnail border-0" src="https://4.bp.blogspot.com/-zsbDeAUd8aY/US7F0ta5d9I/AAAAAAAAEKY/UL2AAhHj6J8/s1600/facebook-default-no-profile-pic.jpg" alt="PROFILBILLEDE">
        </div>
        <div class="col-10">
            <div class="col">
                <h2 class="mb-3">
                    Navn Navnesen
                </h2>
                <h6 class="mb-3">
                    {{json.email}}
                </h6>
                <h6 class="mb-3">
                    {{json.telefon}}
                </h6>
                <a href="//{{json.hjemmeside}}">
                    <h6 class="mb-3">
                        {{json.hjemmeside}}
                    </h6>
                </a>
                <a href="//{{json.linkedIn}}">
                    <h6 class="mb-0">
                        {{json.linkedIn}}
                    </h6>
                </a>
            </div>
        </div>
        
    </div>
    <hr class="mb-4">

    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Om mig
            </h4>
            <!--<hr class="mb-2 mt-0">-->
            <p>
                {{json.om_mig}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Hvad jeg søger
            </h4>
            <p>
                {{json.overskrift}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Erfaring
            </h4>
            <p>
                {{json.erhvervserfaring}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Uddannelse
            </h4>
            <p>
                {{json.uddannelse}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Speciale
            </h4>
            <p>
                {{json.speciale}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Tidligere uddannelse
            </h4>
            <p>
                {{json.uddannelse}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Udenlandsophold og frivilligt arbejde   
            </h4>
            <p>
                {{json.udenlandsophold_og_frivilligt_arbejde}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Fritidsinteresser
            </h4>
            <p>
                {{json.fritidsinteresser}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                It-kompetencer   
            </h4>
            <p>
                {{json.it_kompetencer}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Sprog   
            </h4>
            <p>
                {{json.sprog}}
            </p>
        </div>
    </div>

</div>