<div class="container-fluid">
    <div class="row mt-4 mb-4">
        <div class="col-2">
            <img class="img-thumbnail border-0" src="\images\dummy-profile-pic.jpg" alt="PROFILBILLEDE">
        </div>
        <div class="col-1">
            <div class="col">
                <h2 class="mb-3">
                    Navn:
                </h2>
                <h6 class="mb-3">
                    Mail:
                </h6>
                <h6 class="mb-3">
                    Tlf:
                </h6>
                <h6 class="mb-3">
                    Hjemmeside:
                </h6>
                <h6 class="mb-3">
                    LinkedIn:
                </h6>
                <h6 class="mb-0">
                    Youtube CV:
                </h6>
            </div>
        </div>
        <div class="col-7">
            <div class="col">
                <h2 class="mb-3">
                    {{fornavn}} {{efternavn}}
                    <br>
                </h2>
                <h6 class="mb-3">
                    <a href="mailto:{{email}}">{{email}}</a>
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{telefon}}
                    <br>
                </h6>
                <a href="//{{hjemmeside}}">
                    <h6 class="mb-3">
                        {{hjemmeside}}
                        <br>
                    </h6>
                </a>
                <a href="//{{linkedIn}}">
                    <h6 class="mb-3">
                        {{linkedIn}}
                        <br>
                    </h6>
                </a>
                <a href="//{{yt_link}}">
                    <h6 class="mb-0">
                        {{yt_link}}
                        <br>
                    </h6>
                </a>
            </div>
        </div>
    </div>
    <hr class="mb-4">

    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Overskrift
            </h4>
            <p class="autobreak">
                {{overskrift}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Om mig
            </h4>
            <!--<hr class="mb-2 mt-0">-->
            <p class="autobreak">
                {{om_mig}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Erfaring
            </h4>
            <p class="autobreak">
                {{erhvervserfaring}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Uddannelse
            </h4>
            <p class="autobreak">
                {{uddannelse}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Speciale
            </h4>
            <p class="autobreak">
                {{speciale}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Tidligere uddannelse
            </h4>
            <p class="autobreak">
                {{tidligere_uddannelse}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Udlandsophold og frivilligt arbejde   
            </h4>
            <p class="autobreak">
                {{udenlandsophold_og_frivilligt_arbejde}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Fritidsinteresser
            </h4>
            <p class="autobreak">
                {{fritidsinteresser}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                It-kompetencer   
            </h4>
            <p class="autobreak">
                {{it_kompetencer}}
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Sprog   
            </h4>
            <p class="autobreak">
                {{sprog}}
            </p>
        </div>
    </div>

</div>