<div class="container-fluid">

    <div class="row mt-4 mb-4">
        <div class="col-2">
            {{#if rlogo}}
                <a href='/profil/virksomhed/{{rcompanyid}}'><img class="img-thumbnail border-0" src="/uploads/{{rlogo}}"
                                                                 alt="COMPANY LOGO"></a>
            {{else}}
                <a href='/profil/virksomhed/{{rcompanyid}}'><img class="img-thumbnail border-0"
                                                                 src="/images/no-logo.png" alt="COMPANY LOGO"></a>
            {{/if}}
        </div>

        <div class="col-8">
            <table id="viewpostTable">
                <tr style=" padding: 5px">
                    <td colspan="2">
                        <h2>{{rtitle}}</h2>
                    </td>
                </tr>
                <tr>
                    <td data-key="Virksomhed">Virksomhed:</td>
                    <td id="companyContainer" data-key="{{rcompany}}"><a
                            href='/profil/virksomhed/{{rcompanyid}}'>{{rcompany}}</a></td>
                </tr>
                <tr style="vertical-align: top;">
                    <td data-key="Uddannelse_kolon">Uddannelse:</td>
                    <td id="educationContainer" class="row ml-0 pl-0">
                        {{#each reducation}}
                            {{#if @last}}
                                <div data-key="{{name}}">{{name}}</div>
                            {{else}}
                                <div data-key="{{name}}">{{name}},&nbsp;</div>
                            {{/if}}

                        {{/each}}
                    </td>
                </tr>
                <tr>
                    <td data-key="Land_kolon">Land:</td>
                    <td id="countryContainer" data-key="{{rcountry}}">{{rcountry}}</td>
                </tr>

                {{#if rdawa_json}}
                    <tr id="regionParent">
                        <td>Region:</td>
                        <td id="regionContainer" data-key="{{rregion}}">{{rregion}}</td>
                    </tr>
                    <tr id="addressParent">
                        <td data-key="Adresse_kolon">Adresse:</td>
                        <td id="addressContainer">{{raddress}}</td>
                    </tr>
                    <tr id="cityParent">
                        <td data-key="By_kolon">By:</td>
                        <td>{{rcity}}</td>
                    </tr>
                    <tr id="postcodeParent">
                        <td data-key="Postnummer_kolon">Postnummer:</td>
                        {{#if rpostcode}}
                            <td>{{rpostcode}}</td>
                        {{/if}}

                    </tr>
                {{/if}}
                {{#if remail}}
                    <tr>
                        <td>Email:</td>
                        <td id="emailContainer"><a href="mailto:{{remail}}">{{remail}}</a></td>
                    </tr>
                {{/if}}
                {{#if rphone}}
                    <tr>
                        <td data-key="Telefon_kolon">Telefon:</td>
                        <td id="telefonContainer">{{rphone}}</td>
                    </tr>
                {{/if}}
                <tr>
                    <td data-key="Kontaktperson_kolon">Kontaktperson:</td>
                    <td id="contactContainer">{{rcontact}}</td>
                </tr>
                {{#if rcvr}}
                    <tr>
                        <td data-key="CVR_nummer_kolon">CVR nummer:</td>
                        <td id="cvrContainer">{{rcvr}}</td>
                    </tr>
                {{/if}}
                {{#if rwebsite}}
                    <tr>
                        <td data-key="Hjemmeside_kolon">Hjemmeside:</td>
                        <td id="linkContainer"><a href="{{rwebsite}}" target="_Blank">{{rwebsite}}</a></td>
                    </tr>
                {{/if}}
                {{#if rdoc}}
                    <tr id="docContainer">
                        <td data-key="Vedhaeftet_fil_kolon">Vedhæftet fil:</td>
                        <td id="docContainer"><a href="/download/{{rdoc}}">{{rdocName}}</a></td>
                    </tr>
                {{/if}}
            </table>

        </div>
        <div class="col-12 col-lg-2 d-flex flex-column">
            {{#unless noButtons}}
                {{#if ejer}}
                    <button type="button" class="btn btn-success mt-3"
                            onclick="window.location.href='../internship_update?id={{rid}}'"
                    data-key="Rediger_oplag">Rediger opslag</button>
                {{/if}}
                {{#if isAdmin}}
                    <button type="button" class="btn btn-danger mt-3" onclick="deletePost()" data-key="Slet_opslag">Slet
                        opslag
                    </button>
                {{/if}}

            {{/unless}}
        </div>
    </div>

    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2 postTextContainer">
            <h4 class="mb-3 mt-2 d-flex align-self-center" data-key="Annoncetekst_kolon">
                Annoncetekst:
            </h4>
            <div class="ql-editor">
                {{{rtext}}}
            </div>
        </div>
    </div>
</div>

<script>
    function deletePost() {
        let postId = {{rid}};
        let postTitle = prompt("Skriv opslagets overskrift for at bekræfte handlingen?");
        if (postTitle) {
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/admin-funktioner/delete-internship-post/" + postId, true);
            xhttp.send(JSON.stringify({
                postTitle: postTitle,
            }));

            xhttp.onreadystatechange = function () {
                let responseObject = JSON.parse(this.responseText);
                if (this.readyState === 4 && this.status === 200) {
                    alert(responseObject.message)
                    window.location.href = "../search-praktik";
                } else if (this.readyState === 4 && this.status === 400) {
                    alert(responseObject.message)
                }
            }
        }
    }
</script>