<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Indryk opslag</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <form
              method="POST"
              action="/internship_post"
              enctype="multipart/form-data"
              id="internshipForm"
      >
        <div class="form-group required">
          <label for="internshipTitle">Annonce overskrift</label>
          <input type="text" name="title" id="internshipTitle" class="form-control" placeholder="Titel">
          <p id="titleError" class="CVErrorColor" hidden="true">Du skal angive en annonce overskrift</p>
        </div>
        <div class="form-group required">
          <label for="education">Uddannelse</label>
          <select class="form-control" name="education" id="educationSelect" onchange="toggleNote()">
            <option value="0">Vælg en uddannelse</option>
            {{{generatedEducationOptions}}}
          </select>
          <p id="educationError" class="CVErrorColor" hidden="true">Du skal angive en uddannelse</p>
          <p id="educationNote" class="CVErrorColor" hidden="true">Den valgte uddannelse har lønnet praktik</p>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group required">
              <label for="countrySelect">Land</label>
              <select class="form-control" name="country" id="countrySelect" onchange="countryToggleFields()">
                <option value="0">Vælg et land</option>
                <option value="1">Danmark</option>
                <option value="2">Tyskland</option>
                <option value="3">Sverige</option>
                <option value="4">Udlandet</option>
              </select>
              <p id="countryError" class="CVErrorColor" hidden="true">Du skal angive et land</p>
            </div>
          </div>
          <div class="col-12 col-md-6" id="addressSearchContainer" hidden="true">
            <div class="form-group required autocomplete-container">
              <label for="">Adresse</label>
              <input type="search" class="form-control" id="addressSearch" placeholder="Adresse">
              <input type="hidden" id="addressSearchJSON" name="dawa_json">
              <input type="hidden" id="addressSearchCity" name="city">
              <input type="hidden" id="addressSearchPostcode" name="postcode">
              <input type="hidden" id="addressSearchUUID" name="dawa_uuid">
              <small id="selectedAddress" class="form-text text-muted"></small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group required">
              <label for="internshipEmail">E-mail adresse</label>
              <input type="email" name="email" id="internshipEmail" class="form-control" placeholder="Email"
                pattern="{{{emailRegex}}}">
              <p id="emailError" class="CVErrorColor" hidden="true">Du skal skrive din email her og mindst bruge et @
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group required">
              <label for="contactName">Navn på kontaktperson</label>
              <input type="text" name="contact" id="contactName" class="form-control" placeholder="Navn">
              <p id="contactError" class="CVErrorColor" hidden="true">Du skal angive en kontaktperson</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group" id="containerCVR">
              <label for="cvr_number">CVR Nummer</label>
              <input type="text" pattern="{{{cvrRegex}}}" title="CVR må kun være 8 tal" name="cvr_number"
                id="companyCVR" class="form-control" placeholder="CVR">
              <p id="cvrError" class="CVErrorColor" hidden="true">Du skal angive dit CVR nummer, det skal præcist være 8
                tal</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="company_link">Link til Hjemmeside</label>
              <input type="text" pattern="{{{linkRegex}}}" title="Link er ugyldigt" name="company_link" id="companyURL"
                class="form-control" placeholder="virksomhed.dk">
              <p id="companylinkError" class="CVErrorColor" hidden="true">Du skal angive et gyldigt link her f.eks
                http://www.zealandconnect.dk</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="post_start_date">Ansøgningsfrist</label>
              <input type="date" class="form-control" name="post_start_date" id="applicationDeadline"
                placeholder="dd / mm / åååå" pattern="{{{dateRegex}}}">
              <p id="poststartdateError" class="CVErrorColor" hidden="true">Du skal angive en start dato
              </p>
            </div>
             <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="expire_checkbox" name="expire_checkbox" onchange="setExpired()" >
              <label class="form-check-label" for="expire_checkbox">Skal opslaget skjules efter
                ansøgningsfristen?</label>
                <input type="hidden" id="expired" value="0" name="expired">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="post_end_date">Praktikstart</label>
              <input type="date" class="form-control" name="post_end_date" id="internshipEmploymentDate"
                placeholder="dd / mm / åååå" pattern="{{{dateRegex}}}">
              <p id="postenddateError" class="CVErrorColor" hidden="true">Du skal angive et ansættelsestidspunkt
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <label for="post_document">Vedhæft fil <span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                title="Et relevant dokument til praktikopslag. dokumentet kan kun være .pdf, .docx, .doc eller .txt filer">?</span></label>
            <div class="form-group">
              <div class="custom-file">
                <input type="file" name="post_document" accept=".pdf, .docx, .doc, .txt" class="custom-file-input"
                  id="companyDoc" onchange="validateAndUpdateInputLabel('docLabel', 'companyDoc')">
                <label class="custom-file-label" id="docLabel" for="CompanyDoc">Vælg fil</label>
                <p id="companyDocError" class="CVErrorColor" hidden="true">Du kan kun angive en fil på maximum 10MB</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label for="company_logo">Virksomhedslogo</label>
            <div class="form-group">
              <div class="custom-file">
                <input type="file" name="company_logo" accept=".png, .jpeg, .jpg, .svg, .bmp" class="custom-file-input"
                  id="companyLogo" onchange="validateAndUpdateInputLabel('logoLabel', 'companyLogo')">
                <label class="custom-file-label" id="logoLabel" for="companyLogo">Vælg fil</label>
                <p id="companyLogoError" class="CVErrorColor" hidden="true">Du kan kun angive en fil på maximum 10MB</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="post_text" id="plainText" />
          <label for="editor">Opslagstekst</label>
          <div id="editor"></div>
        </div>
        <p id="posttextError" class="CVErrorColor" hidden="true">Du har angivet for mange tegn</p>
        <div class="form-group">
          <button type="button" onclick="copyQuillHtmlToHiddenInput();" class="btn btn-success mr-2">Gem</button>
          <button type="button" class="btn btn-danger">Afbryd</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/quill.min.js"></script>
<script src="/javascript/validate_internship_post.js"></script>
<!-- AJAX and dawa autocomplete linked here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<script src='../dawa/js/dawa-autocomplete2.min.js'></script>
<script>

  var toolbarOptions = [
    [{
      'size': ['small', false, 'large', 'huge']
    }],
    ['bold', 'italic', 'underline', 'strike'],
    [{
      'align': []
    }],
    [{
      'list': 'ordered'
    }, {
      'list': 'bullet'
    }],
    [{
      'color': []
    }, {
      'background': []
    }],
    ['link', 'image', 'video'],
    ['clean']
  ];
  var editor = new Quill('#editor', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow'
  });

  function copyQuillHtmlToHiddenInput() {
    //document.getElementById('plainText').value = editor.root.innerHTML;
    document.getElementById('plainText').value = editor.getText();
    validate_internship_post();
  }

  var emailRegex = /{{{emailRegex}}}/;
  var dateRegex = /{{{dateRegex}}}/;
  var cvrRegex = /{{{cvrRegex}}}/;
  var linkRegex = /{{{linkRegex}}}/;

  //countryToggleFields() Toggler disse fælter: Region og CVR
  function countryToggleFields() {
    if (document.getElementById('countrySelect').value == 1) {
      document.getElementById('addressSearchContainer').hidden = false;
      document.getElementById('containerCVR').className = "form-group required";
    } else {
      document.getElementById('addressSearchContainer').hidden = true;
      document.getElementById('containerCVR').className = "form-group";
    }
  }

  dawaAutocomplete.dawaAutocomplete(document.getElementById("addressSearch"), {
    select: function (selected) {
      document.getElementById("selectedAddress").innerHTML = selected.tekst;
      document.getElementById("addressSearchJSON").value = JSON.stringify(selected.data);
      document.getElementById("addressSearchCity").value = selected.data.postnrnavn;
      document.getElementById("addressSearchPostcode").value = selected.data.postnr;
      document.getElementById("addressSearchUUID").value = selected.data.id;
    },
    params: {per_side: '5'}
  });

  function validateAndUpdateInputLabel(labelId, inputId) {
    var file = document.getElementById(inputId).files[0];
    console.log(file)
    //Checker om der er tilføjet filer
    //Henter den indexerede fil i og sætter dens str til kilobytes
    var fsize = Math.round(file.size / 1000);

    //Check fil størrelsen på hver fil
    if (fsize > 10240) {
      alert("File selected is too big, maximum size is 10MB")
    }

    document.getElementById(labelId).innerHTML = document.getElementById(inputId).value;
  }


document.getElementById('expire_checkbox').checked = false;

function setExpired() {
  if(document.getElementById('expire_checkbox').checked){
    document.getElementById('expired').value = 1;
  }else {
    document.getElementById('expired').value = 0;
  }
}


  function toggleNote(){
    if (document.getElementById("educationSelect").options[document.getElementById("educationSelect").selectedIndex].text==="Handelsøkonom"){
      document.getElementById("educationNote").hidden=false;
    } else {
      document.getElementById("educationNote").hidden=true;
    }

    if(document.getElementById("educationSelect").option != 0){
      document.getElementById("educationError").hidden=true;
    }
  }
</script>