<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Redigere opslag</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <form method="POST" onsubmit="return validate_internship_post(event)" enctype="multipart/form-data">
        <input type="hidden" value="{{rid}}" name="id">
        <div class="form-group required">
          <label for="internshipTitle">Annonce overskrift</label>
          <input type="text" value="{{rtitle}}" name="title" id="internshipTitle" class="form-control"
            placeholder="Titel" required>
          <p id="titleError" class="CVErrorColor" hidden="true">Du skal angive en annonce overskrift</p>
        </div>
        <div class="form-group required">
          <label for="education">Uddannelse</label>
          <select class="form-control" name="education" id="educationSelect" onchange="countryToggleFields()">
            <option value="0">Vælg en uddannelse</option>
            <option value="1">Handelsøkonom</option>
            <option value="2">Datamatiker</option>
            <option value="3">Bygningskonstruktør</option>
          </select>
          <p id="educationError" class="CVErrorColor" hidden="true">Du skal angive en uddannelse</p>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group required">
              <label for="countrySelect">Land</label>
              <select class="form-control" name="country" id="countrySelect" onchange="countryToggleFields()">
                <option value="0">Vælg et land</option>
                <option value="1">Danmark</option>
                <option value="2">Tyskland</option>
                <option value="3">Sverige</option>
                <option value="4">Udlandet</option>
              </select>
              <p id="countryError" class="CVErrorColor" hidden="true">Du skal angive et land</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group required" id="regionContainer" hidden="true">
              <label for="regionSelect">Region</label>
              <select class="form-control" name="region" id="regionSelect">
                <option value="0">Vælg en region</option>
                <option value="1">Hovedstaden</option>
                <option value="2">Midtjylland</option>
                <option value="3">Nordjylland</option>
                <option value="4">Sjælland</option>
                <option value="5">Syddanmark</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-6" id="cityContainer" hidden="true">
            <div class="form-group required">
              <label for="city">By</label>
              <select class="form-control" name="city" id="citySelect">
                <option value="0">Vælg en by</option>
                {{{generatedCityOptions}}}
              </select>
              <p id="cityError" class="CVErrorColor" hidden="true">Du skal angive en by</p>
            </div>
          </div>
          <div class="col-12 col-md-6" id="postCodeContainer" hidden="true">
            <div class="form-group required">
              <label for="postcode">Postnummer</label>
              <select class="form-control" name="postcode" id="postalText">
                <option value="0">Vælg et postnummer</option>
                {{{generatedPostCodeOptions}}}
              </select>
              <p id="cityError" class="CVErrorColor" hidden="true">Du skal angive en by</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group required">
              <label for="internshipEmail">Email adresse</label>
              <input type="email" value="{{remail}}" name="email" id="internshipEmail" class="form-control"
                placeholder="Email" required>
              <p id="emailError" class="CVErrorColor" hidden="true">Du skal skrive din email her og mindst bruge et @</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group required">
              <label for="contactName">Navn på kontaktperson</label>
              <input type="text" value="{{rcontact}}" name="contact" id="contactName" class="form-control"
                placeholder="Navn" required>
              <p id="contactError" class="CVErrorColor" hidden="true">Du skal angive en kontaktperson</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group" id="containerCVR">
              <label for="cvr_number">CVR Nummer</label>
              <input type="text" pattern="^[0-9]{8}$" title="CVR må kun være 8 tal" name="cvr_number"
                id="companyCVR" class="form-control" placeholder="CVR" value="{{rcvr}}">
              <p id="cvrError" class="CVErrorColor" hidden="true">Du skal angive dit CVR nummer, det skal præcist være 8 tal</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="company_link">Link til Hjemmeside</label>
              <input type="url" pattern="^(http://www.|https://www.|http://|https://)?[a-z0-9]+([-.]{1}[a-z0-9]+).[a-z]{2,5}(:[0-9]{1,5})?(/.)?$"
                title="Link er ugyldigt" name="company_link" id="companyURL" class="form-control"
                placeholder="https://virksomhed.dk" value="{{rcompany}}">
              <p id="companylinkError" class="CVErrorColor" hidden="true">Du skal angive et gyldigt link her f.eks http://www.zealandconnect.dk</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="post_start_date">Ansøgningsfrist</label>
              <input type="date" value="{{rpoststart}}" class="form-control" name="post_start_date"
                id="applicationDeadline" placeholder="dd / mm / åååå">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="post_end_date">Ansættelsestidspunkt</label>
              <input type="date" value="{{rpostend}}" class="form-control" name="post_end_date"
                id="internshipEmploymentDate" placeholder="dd / mm / åååå">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <label for="post_document">Vedhæft fil</label><br/>
            <a id="uploadedFile" href="" target="_blank" hidden="true">Nuværende vedhæftet fil</a>
            <div class="form-group">
              <div class="custom-file">
                <input type="file" name="post_document" accept=".pdf, .docx, .doc, .txt" class="custom-file-input"
                  id="CompanyDoc" onchange="updateInputLabel('docLabel', 'CompanyDoc')">
                <label class="custom-file-label" id="docLabel" for="CompanyDoc">Vælg fil</label>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label for="company_logo">Virksomhedslogo</label><br>
            <a id="uploadedLogo" href="" target="_blank" hidden="true">Nuværende vedhæftet logo</a>
            <div class="form-group">
              <div class="custom-file">
                <input type="file" name="company_logo" accept=".png, .jpeg, .jpg, .svg, .bmp" class="custom-file-input"
                  id="CompanyLogo" onchange="updateInputLabel('logoLabel', 'CompanyLogo')">
                <label class="custom-file-label" id="logoLabel" for="CompanyLogo">Vælg fil</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <input type="hidden" name="post_text" id="plainText" />
          <label for="editor">Fritekst</label>
          <div id="editor">{{{rtext}}}</div>
        </div>
        <div class="form-group">
          <button type="submit" onclick="copyQuillHtmlToHiddenInput()" class="btn btn-success mr-2">Gem</button>
          <button type="button" class="btn btn-danger">Afbryd</button>
          <button type="button" class="btn btn-danger" onclick="confirmYeet()">Slet dette opslag</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/quill.min.js"></script>
<script>
var toolbarOptions = [
  [{
    'size': ['small', false, 'large', 'huge']
  }],
  ['bold', 'italic', 'underline', 'strike'],
  [{
    'align': []
  }],
  [{
    'list': 'ordered'
  }, {
    'list': 'bullet'
  }],
  [{
    'color': []
  }, {
    'background': []
  }],
  ['link', 'image', 'video'],
  ['clean']
];
var editor = new Quill('#editor', {
  modules: {
    toolbar: toolbarOptions
  },
  theme: 'snow'
});

function copyQuillHtmlToHiddenInput() {
  document.getElementById('plainText').value = editor.root.innerHTML;
}

function setDefaultSelect() {
  var reducation = {{reducation}};
  var rcountry = {{rcountry}};
  var rregion = {{rregion}};
  document.getElementById('educationSelect').value = reducation;
  document.getElementById('countrySelect').value = rcountry;
  document.getElementById('regionSelect').value = rregion;

}
setDefaultSelect();

function confirmYeet() {
  if (confirm("Er du sikker?")) {
    window.location = "/internship_update/delete?id=" + {{rid}}
  }
}

//countryToggleFields() Toggler disse fælter: Region og CVR
hasBeenSet=false;
function countryToggleFields() {
  if (document.getElementById('countrySelect').value == 1) {
    document.getElementById('regionContainer').hidden = false;
    document.getElementById('containerCVR').className = "form-group required";
    document.getElementById('cityContainer').hidden = false;
    document.getElementById('postCodeContainer').hidden = false;
  } else {
    document.getElementById('regionContainer').hidden = true;
    document.getElementById('containerCVR').className = "form-group";
    document.getElementById('cityContainer').hidden = true;
    document.getElementById('postCodeContainer').hidden = true;
  }

  if(!hasBeenSet){
    var rcity = "{{rcity}}";
    var rpostcode = {{rpostcode}};
    document.getElementById('citySelect').value = rcity;
    document.getElementById('postalText').value = rpostcode;
    hasBeenSet=true;
  }
}

//countryToggleFields skal kalds for at håndtere felter der kun er synlig i nogle situationer.
countryToggleFields();

function updateInputLabel(labelId, inputId) {
  document.getElementById(labelId).innerHTML = document.getElementById(inputId).value;
}

//Function til at sætte billed sti og dokument link hvis link findes.
function showIfURLexist(){
  var logoName="{{rlogo}}";
  var docName ="{{rdoc}}";

  if(logoName.length!=0){
    console.log("Logo");
    document.getElementById("uploadedLogo").href="uploads/"+logoName;
    document.getElementById("uploadedLogo").hidden=false;
  }else{console.log("No logo");}

  if(docName.length!=0){
    console.log("File");
    document.getElementById("uploadedFile").href="uploads/"+docName;
    document.getElementById("uploadedFile").hidden=false;
  }else{console.log("No file");}
}

showIfURLexist();
</script>
