<div class="container-fluid">

    <div class="row mt-4 mb-4">
        <div class="col-2">
            {{#if rlogo}}
                <img class="img-thumbnail border-0" src="/uploads/{{rlogo}}" alt="COMPANY LOGO">
            {{else}}
                <img class="img-thumbnail border-0" src="/images/no-logo.png" alt="COMPANY LOGO">
            {{/if}}
        </div>

        <div class="col-8">
            <table id="viewpostTable">
                <tr style=" padding: 5px">
                    <td colspan="2">
                        <h2>{{rtitle}}</h2>
                    </td>
                </tr>
                <tr>
                    <td data-key="Virksomhed">Virksomhed:</td>
                    <td id=companyContainer" data-key="{{rcompany}}">{{rcompany}}</td>
                </tr>
                <tr>
                    <td data-key="Uddannelse_kolon">Uddannelse:</td>
                    <td id="educationContainer" data-key="{{reducation}}">{{reducation}}</td>
                </tr>
                <tr>
                    <td data-key="Land_kolon">Land:</td>
                    <td id="countryContainer">{{rcountry}}</td>
                </tr>

                {{#if isDenmark}}
                    <tr id="regionParent">
                        <td>Region:</td>
                        <td id="regionContainer">{{rregion}}</td>
                    </tr>
                    <tr id="cityParent">
                        <td data-key="By_kolon">By:</td>
                        <td>{{rcity}}</td>
                    </tr>
                    <tr id="postcodeParent">
                        <td data-key="Postnummer_kolon">Postnummer:</td>
                        <td>{{rpostcode}}</td>
                    </tr>
                {{/if}}
                {{#if remail}}
                <tr>
                    <td>Email:</td>
                    <td id="emailContainer"><a href="mailto:{{remail}}">{{remail}}</a></td>
                </tr>
                {{/if}}
                {{#if rphone}}
                <tr>
                    <td data-key="Telefon_kolon">Telefon:</td>
                    <td id="telefonContainer">{{rphone}}</td>
                </tr>
                {{/if}}
                <tr>
                    <td data-key="Kontaktperson_kolon">Kontaktperson:</td>
                    <td id="contactContainer">{{rcontact}}</td>
                </tr>
                {{#if rcvr}}
                    <tr>
                        <td data-key="CVR_nummer_kolon">CVR nummer:</td>
                        <td id="cvrContainer">{{rcvr}}</td>
                    </tr>
                {{/if}}
                {{#if rwebsite}}
                    <tr>
                        <td data-key="Hjemmeside_kolon">Hjemmeside:</td>
                        <td id="linkContainer"><a href="{{rwebsite}}" target="_Blank">{{rwebsite}}</a></td>
                    </tr>
                {{/if}}
                {{#if rdoc}}
                    <tr id="docContainer">
                        <td data-key="Vedhaeftet_fil_kolon">Vedhæftet fil:</td>
                        <td id="docContainer2"><a href="/uploads/{{rdoc}}" target="_Blank">{{rdocName}}</a></td>
                    </tr>
                {{/if}}
            </table>

        </div>
        <div class="col-12 col-lg-2 d-flex flex-column">
            {{#unless noButtons}}
                {{#if ejer}}
                    <button type="button" class="btn btn-success mt-3"
                            onclick="window.location.href='../internship_update?id={{rid}}'" data-key="Rediger_oplag">Rediger opslag</button>
                {{/if}}
            {{/unless}}
        </div>
    </div>

    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center" data-key="Annoncetekst_kolon">
                Annoncetekst:
            </h4>
            {{{rtext}}}
        </div>
    </div>
</div>