<!DOCTYPE html>
<html lang={{language}}>

<head>
    <title>{{title}}</title>
    <!-- Bootstrap stylesheet here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Quill rich text editor -->
    <link rel="stylesheet" href="/stylesheets/quill.snow.css">
    <!-- Custom stylesheet here -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="page-content">

    
    {{#unless navDisabled}}

    {{#if isStudent}}
    {{> role-student}}
    {{else if isCompany}}
    {{> role-company}}
    {{else if isAdmin}}
    {{> role-admin}}
    {{else}}
    {{> role-anonymous}}
    {{/if}}

    {{/unless}}

    <!-- TODO: navigation -->
    
    <div class="sidebar">
        {{#if disableSidebarButton}}
        <a class="navbar-brand">Zealand</a>
        {{else}}
        <a class="navbar-brand" href="/">Zealand</a>
        {{/if}}
        <span>Connect</span>
    </div>
    
    {{{body}}}


    </div>

    {{#unless showFooter}}
    <footer class="footer">
        <hr id="navbarLine" class="mb-0">
        <nav class="navbar navbar-expand-lg navbar-light container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link hand-hover" onclick="openCookieConsent()" data-key="aLogin">Cookie settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/om" data-key="aLogin">Om ZealandConnect</a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
    {{/unless}}


    {{> cookie-consent-modal}}
    <!-- JQuery and Bootstrap linked here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="/javascript/oversaettelse.js"></script>
    <script src="/javascript/navbar.js"></script>
    <script>$(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })</script>
    <script>
        function openCookieConsent(){
            $(document).ready(function(){
                let cookies = document.cookie;

                let hasCookie = cookies.includes('cookie_consent=');

                if (!hasCookie) {
                    $('#cookieModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });

                    $("#cookieModal").modal('show');
                } else {
                    $('#cookieModal').modal({
                    });

                    $("#cookieModal").modal('show');
                }

            });
        }

        openCookieConsent();

        function confirmConsent(formId) {
            let form = document.getElementById(formId);

            let formData = new FormData(form);

            let xhr = new XMLHttpRequest();
            xhr.withCredentials = true;
            xhr.open(form.method, form.getAttribute("action"), true);
            xhr.send(formData);

            let cookiesAllowed = formData.get('preference') !== undefined && formData.get('preference') !== null;
            let engLang = formData.get('lang') === 'en';

            if (cookiesAllowed && engLang) {
                brugStrings('en');
                document.getElementById('en').style.display = 'none';
                document.getElementById('da').style.display = 'block';
            }
        }

    </script>
</body>

</html>