<script src='/javascript/godkendelse-af-CV.js' defer></script>
<div class="container-fluid">
    <!-- tekst med dit navn og start på form -->
    <h3 class="text-center">{{profil}}</h3>
    <form method="POST" action="../mit-cv/submit" id="cvForm" name="cvForm" target="">
        <!-- Overskrift textarea -->
        <div class="form-group required">
            <label for="exampleFormControlInput1" data-key="Overskrift">Overskrift</label>
            <textarea class="form-control" id="overskrift" name="overskrift" rows="2"
                placeholder="Hvad søger du f.eks job eller praktik" onkeyup="countChars(this)" data-key="Overskrift_placeholder">{{overskrift}}</textarea>
                <p id="charNum">255 tegn</p>
            <p id="OverskriftError" class="CVErrorColor" hidden="true" data-key="Skal_udfyldes">Skal udfyldes</p>
        </div>
        <!-- Uddannelse med dropdown -->
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group required">
                        <label for="exampleFormControlSelect1" data-key="Uddannelse">Uddannelse</label>
                        <select class="form-control" id="uddannelse" name="uddannelse">
                            <option selected disabled hidden value="" data-key="Vaelg_en_uddannelse">Vælg din uddannelse</option>
                            {{#each uddannelser}}
                            <option {{selectState name ../uddannelse }} value={{id}} data-key="{{name}}">{{name}}</option>
                            {{/each}}
                        </select>
                     <p id="UddannelsesError" class="CVErrorColor" hidden="false" data-key="Vaelg_en_uddannelse_error">Du skal vælge en Uddannelse</p>
                    </div>
                </div>
                <!-- email med inputfelt -->
                <div class="col-sm-4">
                    <div class="form-group required">
                        <label for="exampleFormControlInput1" data-key="Email_adresse">Email adresse</label>
                        <input type="email" class="form-control" placeholder="name@example.com" id="email" name="email"
                            title="Du skal skrive din email her og mindst
                            bruge et @" value={{email}}>
                      <p id="emailError" class="CVErrorColor" hidden="true" data-key="Email_adresse_error">Du skal skrive din email her og mindst
                            bruge et @</p>
                    </div>
                </div>
                <!-- Sprog med inputfelt -->
                <div class="col-sm-4">
                    <div class="form-group required">
                        <label for="exampleFormControlInput1" data-key="Sprog">Sprog</label>
                        <input class="form-control" placeholder="Dansk" id="sprog" name="sprog" value={{sprog}}>
                      <p id="sprogError" class="CVErrorColor" hidden="true" data-key="Sprog_error">Du skal skrive dit ønskede sprog her</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- speciale indenfor din uddannelse med inputfelt -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1" data-key="Speciale">Speciale</label>
                        <input class="form-control" id="speciale" name="speciale" value={{speciale}}>
                    </div>
                </div>
                <!-- Telefon nummer med inputfelt -->
                <div class="col-sm-4">
                    <div class="form-group required">
                        <label for="exampleFormControlInput1" data-key="Telefon">Telefon</label>
                        <input type="number" class="form-control" id="telefon" name="telefon" placeholder="12345678" title="Du skal skrive dit nummer, det skal præcist
                            være 8 tal og må ikke starte med 0"
                            value={{telefon}}>
                           <p id="telefonError" class="CVErrorColor" hidden="true" data-key="Telefon_error">Du skal skrive dit nummer, det skal præcist
                            være 8 tal og må ikke starte med 0</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" data-key="Postnummer">Postnummer</label>
                        <span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                          title="Når du indtaster postnummer vises den knyttede by automatisk på CV'et. Feltet her gør det muligt for virksomheder at fokusere deres søgning baseret på afstand og kan hjælpe med at gøre dig synlig for dem. Kun danske postnumre er understøttet."
                          data-Key="Postnummer_tooltip">?</span>
                        <input class="form-control" id="postcode" name="postcode" value='{{postcode}}'>
                        <p id="postnummerError" class="CVErrorColor" hidden="true" data-key="Postnummer_errorCV">Kun danske postnumre er tilladte og angiv kun tallene. Den tilhørende by vil blive fundet automatisk.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">LinkedIn</label>
                        <input class="form-control" id="linkedIn" name="linkedIn" value='{{linkedIn}}' placeholder="https://www.linkedin.com/in/xxx-xxx-123456789">
                     <p id="linkedInError" class="CVErrorColor" hidden="true" data-key="linkedIn_error">Du skal skrive et korrekt link til en LinkedIn Profil eller tømme feltet</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" data-key="Hjemmeside">Hjemmeside</label>
                        <input class="form-control" id="hjemmeside" name="hjemmeside" value='{{hjemmeside}}' placeholder="https://example.dk">
                        <p id="hjemmesideError" class="CVErrorColor" hidden="true" data-key="hjemmeside_error">Du skal skrive et korrekt link til din hjemmeside eller tømme feltet</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" data-key="Link_til_CV_paa_Youtube">Link til CV på Youtube</label>
                        <span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                          title="Hvis du har uploadet et video CV på Youtube kan du referere til videoen her."
                          data-Key="Link_til_CV_paa_Youtube_tooltip">?</span>
                        <input class="form-control" id="youtube_link" name="youtube_link"
                            value='{{yt_link}}' placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                        <p id="youtubeError" class="CVErrorColor" hidden="true" data-key="youtube_error">Du skal skrive et korrekt link til en Youtube video eller tømme feltet</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!-- textarea om mig -->
                <label for="exampleFormControlTextarea1" data-key="Om_mig">Om mig</label>
                <textarea class="form-control" rows="3" id="om mig" name="om"
                    placeholder="Denne tekst bliver vist når virksomheder søger på CV'er" data-key="Om_mig_placeholder">{{om}}</textarea>
            </div>
            <div class="form-group required">
                <!-- textarea om mig -->
                <label for="exampleFormControlTextarea1" data-key="It_kompetencer">IT kompetencer</label>
                <textarea class="form-control" rows="3" id="iT_Kompetencer" name="iT_Kompetencer"
                    placeholder="Word, Excel" onkeyup="countChars2(this)">{{it_kompetencer}}</textarea>
                    <p id="charNum2">255 tegn</p>
            </div>
            <div class="form-group">
                <!-- textarea om mig -->
                <label for="exampleFormControlTextarea1" data-key="Udlandsophold_og_frivilligt_arbejde">Udenlandsophold og frivilligt arbejde</label>
                <textarea class="form-control" rows="3" id="UogFA" name="UogFA"
                    placeholder="Valgfri" data-key="Valgfri_placeholder">{{u_og_fa}}</textarea>
            </div>
            <div class="form-group">
                <!-- textarea med erhvervserfaring -->
                <label for="exampleFormControlTextarea1" data-key="Erhvervserfaring">Erhvervserfaring</label>
                <textarea class="form-control" rows="3" id="erhvervserfaring" name="erhvervserfaring"
                    placeholder="Tidligere eller nuværende erhvervserfaring" data-key="Erhvervserfaring_placeholder">{{erhvervserfaring}}</textarea>
            </div>
            <div class="form-group required">
                <!-- textarea med uddannelse -->
                <label for="exampleFormControlTextarea1" data-key="Tidligere_udannelse">Tidligere uddannelse</label>
                <textarea class="form-control" rows="3" id="tidligere-uddannelse" name="tidligere_uddannelse"
                    placeholder="Tidligere eller lidt om din nuværende Uddannelse" data-key="Tidligere_udannelse_placeholder">{{tidligere_uddannelse}}</textarea>
                <p id="Tidligere-uddannelseError" class="CVErrorColor" hidden="true" data-key="Skal_udfyldes">Skal udfyldes</p>
            </div>
            <div class="form-group">
                <!-- textarea med hobby -->
                <label for="exampleFormControlTextarea1" data-key="Fritidsinteresser">Fritidsinteresser</label>
                <textarea class="form-control" rows="3" id="fritidsinteresser" name="fritidsinteresser" placeholder="Valgfri" data-key="Valgfri_placeholder">{{fritidsinteresser}}</textarea>
            </div>
            <!-- Checkboxes til CV-type -->
            <div class="form-group">
                <div>
                    <label data-key="Jeg_søger:">Jeg søger:</label>
                </div>
                <div class="form-check">
                    {{#if praktik}}
                        <input class="checkbox-inline" type="checkbox" value="1" id="praktikCheck" name="praktikCheck" checked>
                    {{else}}
                        <input class="checkbox-inline" type="checkbox" value="1" id="praktikCheck" name="praktikCheck">
                    {{/if}}
                    <label class="form-check-label" for="praktikCheck" data-key="Praktik">Praktik</label>
                </div>
                <div class="form-check">
                    {{#if studiejob}}
                        <input class="checkbox-inline" type="checkbox" value="2" id="studiejobCheck" name="studiejobCheck" checked>
                    {{else}}
                        <input class="checkbox-inline" type="checkbox" value="2" id="studiejobCheck" name="studiejobCheck">
                    {{/if}}
                    <label class="form-check-label" for="studiejobCheck" data-key="Studiejob">Studiejob</label>
                </div>
                <div class="form-check">
                    {{#if trainee}}
                        <input class="checkbox-inline" type="checkbox" value="3" id="traineeCheck" name="traineeCheck" checked>
                    {{else}}
                        <input class="checkbox-inline" type="checkbox" value="3" id="traineeCheck" name="traineeCheck">
                    {{/if}}
                    <label class="form-check-label" for="traineeCheck" data-key="Trainne_stilling">Trainee stilling</label>
                </div>
                <div class="form-check">
                    {{#if fuldtid}}
                        <input class="checkbox-inline" type="checkbox" value="4" id="fuldtidCheck" name="fuldtidCheck" checked>
                    {{else}}
                        <input class="checkbox-inline" type="checkbox" value="4" id="fuldtidCheck" name="fuldtidCheck">
                    {{/if}}
                    <label class="form-check-label" for="jobCheck" data-key="Fuldtidsstilling">Fuldtidsstilling</label>
                </div>
            </div>
            <!-- Radio til om en cv skal være offentlig -->
            <div class="form-group required pb-3">
                <label data-key="Tilgængelighed">Tilgængelighed</label>
                <div class="form-radio ml-3 ">
                    <input {{checkedStateRadio offentlig 'tilgaengelighed1'}} type="radio" id="tilgaengelighed1" name="tilgaengelighed" class="form-control-input tilgaengelighed" value=1>
                    <label class="form-control-label" for="tilgaengelighed1" data-key="Offentlig">Offentlig</label>
                </div>
                <div class="form-radio tilgaengelighed ml-3">
                    <input {{checkedStateRadio offentlig 'tilgaengelighed2'}} type="radio" id="tilgaengelighed2" name="tilgaengelighed" class="form-control-input tilgaengelighed" value=0>
                    <label class="form-control-label" for="tilgaengelighed2" data-key="Privat">Privat</label>
                    <p id="tilgaengelighedError" class="CVErrorColor" hidden="true" data-key="Tilgængelighed_error">Du skal vælge om dit CV skal være offentligt eller privat</p>
                </div>
            </div>
            <div class="text-center">
                <!-- Button der sender informationen videre -->
                <div>
                    <button type="button" class="btn btn-success" id="gem" data-key="Gem">Gem</button>
                    <button type="button" class="btn btn-success" id="preview">Preview CV</button>
                </div>
            </div>
        </div>
    </form>
</div>