<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <div id="loginBoxBackground">
                <div id="loginContent">
                    <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
                    <div class="loginBtnBox">
                        <form method="post" action="opret-bruger/create" id="opretBrugerForm" name="opretBrugerForm">
                            <div class="form-group" id="virksomhedOpret"> <!-- Virksomheds opret form-->
                                <p style="color: red;">{{emailError}}</p>
                                <input type="text" id="email" class="form-control"
                                       name="email" placeholder="Email"><br>
                                <input type="text" id="gentagEmail" class="form-control"
                                       name="gentagEmail" placeholder="Gentag email"
                                       data-key="placeholderGentagEmail"><br>
                                <p style="color: red;">{{passwordError}}</p>
                                <input type="password" id="adgangskode" class="form-control"
                                       name="password" placeholder="Adgangskode" data-key="placeholderadgangskode"><br>
                                <input type="password" id="gentagAdgangskode" class="form-control"
                                       name="gentagPassword" placeholder="Gentag Adgangskode"
                                       data-key="placeholdergentagAdgangskode"><br>
                                <p style="color: red;">{{cvrError}}</p>
                                <input type="text" id="cvr" class="form-control"
                                       name="cvr" placeholder="CVR-Nummer" data-key="placeholdercvr"><br>
                                <p style="color: red;">{{tlfnrError}}</p>
                                <input type="string" id="telefonnummer" class="form-control"
                                       name="telefonnummer" placeholder="Telefonnummer"
                                       data-key="placeholderTelefonnummer"><br>
                                <p style="color: red;">{{byError}}</p>
                                <input type="string" id="by" class="form-control"
                                       name="by" placeholder="By" data-key="placeholderBy"><br>
                                <p style="color: red;">{{postnrError}}</p>
                                <input type="string" id="postnummer" class="form-control"
                                       name="postnummer" placeholder="Postnummer" data-key="placeholderPostnummer"><br>
                            </div>
                            <button class="gulKnap" data-key="opret"> Opret Bruger</button>
                        </form>

                        <!--                            Midlertidige knapper til CRUD:-->

                        <!--                            <form action="/opret-bruger/create" method="post">-->
                        <!--                                <button type="submit" formmethod="post">Create using POST</button>-->
                        <!--                            </form>-->

                        <form action="/opret-bruger/delete" method="post">
                            <button type="submit" formmethod="post">Delete using POST</button>
                        </form>


                    </div>
                </div>
                <div id="cookieBox">
                    <div id="cookieText">
                        <p data-key="cookie" style="display: inline;">Cookies skal være aktiveret i din browser</p>
                        <button id="questionMarkButton"><img src="/images/blue-question-mark.png" alt="?"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
