<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="container-fluid">
    <!-- metode .submit tæller på samme måde som input submit og så kalde form's id  -->
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="text-center opretBrugerBoks">
                <div>
                    <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tabset" id="tab1" aria-controls="login"
                        {{studentChecked}} onclick="showStudentOpret()">
                    <label class="form-check-label mr-3" data-key="Studerende" for="tab1">Studerende</label>
                    <input class="form-check-input" type="radio" name="tabset" id="tab2" aria-controls="login"
                        {{companyChecked}} onclick="showVirksomhedOpret()">
                    <label class="form-check-label" data-key="Virksomhed" for="tab2">Virksomhed</label>
                </div>

                <p class="mb-0 mt-3" data-key="Alle_felter">Alle felter skal udfyldes</p>

                <div id="virksomhed">

                    <form name="virksomhedOpret" class="text-left" id="virksomhedOpret" onsubmit="return false"
                        style="display: none;">
                        <div style="color: red;" class="text-center" id="fejlBesked"></div>
                        <div style="color: green;" class="text-center" id="succesBesked"></div>
                        <br>
                        <div class="form-group row">
                            <label class="col-4 col-form-label" for="email">Email</label>
                            <div class="col-8">
                                <input id="email" name="email" type="text" class="form-control" placeholder="Email">
                                <div class="col-form-label formError pb-0" id="emailError">Error</div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="gentagEmail" data-key="labelGentagEmail" class="col-4 col-form-label">Gentag
                                email</label>
                            <div class="col-8">
                                <input id="gentagEmail" name="gentagEmail" type="text" class="form-control"
                                    placeholder="Gentag email" data-key="placeholderGentagEmail">
                                <div class="col-form-label form-label formError pb-0" id="gentagEmailError">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="adgangskode" data-key="labelAdgangskode_html"
                                class="col-4 col-form-label">Adgangskode
                                <span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                                    title="Adgangskoden skal være mellem 8 og 20 cifre">?</span>
                            </label>

                            <div class="col-8">
                                <input id="adgangskode" name="password" type="password" class="form-control"
                                    placeholder="Adgangskode" data-key="placeholderAdgangskode">
                                <div class="col-form-label formError pb-0" id="adgangskodeError">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="gentagAdgangskode" data-key="labelGentagAdgangskode"
                                class="col-4 col-form-label">Gentag adgangskode</label>
                            <div class="col-8">
                                <input id="gentagAdgangskode" name="gentagPassword" type="password" class="form-control"
                                    placeholder="Gentag adgangskode" data-key="placeholderGentagAdgangskode">
                                <div class="col-form-label formError pb-0" id="gentagAdgangskodeError">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="virksomhedNavn" data-key="labelVirksomhedNavn"
                                class="col-4 col-form-label">Virksomhedens navn</label>
                            <div class="col-8">
                                <input id="virksomhedNavn" name="virksomhedNavn" type="text" class="form-control"
                                    placeholder="Virksomhedens navn" data-key="placeholderVirksomhedNavn">
                                <div class="col-form-label formError pb-0" id="virksomhedNavnError">Error</div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="cvr" data-key="labelCvr" class="col-4 col-form-label">CVR-Nummer</label>
                            <div class="col-8">
                                <input id="cvr" name="cvr" type="text" class="form-control" placeholder="CVR-nummer"
                                    data-key="placeholderCvr">
                                <div class="col-form-label formError pb-0" id="cvrError">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telefonnummer" data-key="labelTelefonnummer"
                                class="col-4 col-form-label">Telefonnummer</label>
                            <div class="col-8">
                                <input id="telefonnummer" name="telefonnummer" type="string" class="form-control"
                                    placeholder="Telefonnummer" data-key="placeholderTelefonnummer">
                                <div class="col-form-label formError pb-0" id="telefonnummerError">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="by" data-key="labelBy" class="col-4 col-form-label">By</label>
                            <div class="col-8">
                                <input id="by" name="by" type="string" class="form-control" placeholder="By"
                                    data-key="placeholderBy">
                                <div class="col-form-label formError pb-0" id="byError">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="postnummer" data-key="labelPostnummer"
                                class="col-4 col-form-label">Postnummer</label>
                            <div class="col-8">
                                <input id="postnummer" name="postnummer" type="string" class="form-control"
                                    placeholder="Postnummer" data-key="placeholderPostnummer">
                                <div class="col-form-label formError pb-0" id="postnummerError">Error</div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <button class="btn gulKnap" data-key="opretBruger" type="button" id="submitBtn"
                                    onclick="submitOpretVirksomhed()">Opret Bruger
                                </button>
                            </div>
                        </div>
                        <input id="submit_handle" type="submit" style="display: none">
                    </form>

                    <form class="text-left" name="studentOpret" id="studentOpret" onsubmit="return false">
                        <div style="color: red;" class="text-center" id="fejlBesked">{{fejlBesked}}</div>
                        <div style="color: green;" class="text-center" id="succesBesked">{{succesBesked}}</div>
                        <br>
                        <div class="form-group row">
                            <label for="emailStudent" class="col-4 col-form-label">Email</label>
                            <div class="col-8">
                                <input id="emailStudent" name="emailStudent" type="text" class="form-control"
                                    placeholder="Email">
                                <div class="col-form-label formError pb-0" id="emailErrorStudent">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="gentagEmailStudent" data-key="labelGentagEmail"
                                class="col-4 col-form-label">Gentag
                                email</label>
                            <div class="col-8">
                                <input id="gentagEmailStudent" name="gentagEmailStudent" type="text"
                                    class="form-control" placeholder="Gentag email" data-key="placeholderGentagEmail">
                                <div class="col-form-label formError pb-0" id="gentagEmailErrorStudent">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="adgangskodeStudent" data-key="labelAdgangskode_html"
                                class="col-4 col-form-label">Adgangskode
                                <span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                                    title="Adgangskoden skal være mellem 8 og 20 cifre">?</span>
                            </label>
                            <div class="col-8">
                                <input id="adgangskodeStudent" name="passwordStudent" type="password"
                                    class="form-control" placeholder="Adgangskode" data-key="placeholderAdgangskode">
                                <div class="col-form-label formError pb-0" id="adgangskodeErrorStudent">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="gentagAdgangskodeStudent" data-key="labelGentagAdgangskode"
                                class="col-4 col-form-label">Gentag adgangskode</label>
                            <div class="col-8">
                                <input id="gentagAdgangskodeStudent" name="gentagPasswordStudent" type="password"
                                    class="form-control" placeholder="Gentag adgangskode"
                                    data-key="placeholderGentagAdgangskode">
                                <div class="col-form-label formError pb-0" id="gentagAdgangskodeErrorStudent">Error
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fornavnStudent" data-key="Fornavn" class="col-4 col-form-label">Fornavn</label>
                            <div class="col-8">
                                <input id="fornavnStudent" name="fornavnStudent" type="string" class="form-control"
                                    placeholder="Fornavn" data-key="placeholderFornavn">
                                <div class="col-form-label formError pb-0" id="fornavnErrorStudent">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="efternavnStudent" data-key="Efternavn"
                                class="col-4 col-form-label">Efternavn</label>
                            <div class="col-8">
                                <input id="efternavnStudent" name="efternavnStudent" type="string" class="form-control"
                                    placeholder="Efternavn" data-key="placeholderEfternavn">
                                <div class="col-form-label formError pb-0" id="efternavnErrorStudent">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telefonnummerStudent" data-key="labelTelefonnummer"
                                class="col-4 col-form-label">Telefonnummer</label>
                            <div class="col-8">
                                <input id="telefonnummerStudent" name="telefonnummerStudent" type="string"
                                    class="form-control" placeholder="Telefonnummer"
                                    data-key="placeholderTelefonnummer">
                                <div class="col-form-label formError pb-0" id="telefonnummerErrorStudent">Error</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="date" data-key="Foedselsdato" class="col-4 col-form-label">Fødselsdato</label>
                            <div class="col-8">
                                <input id="date" name="date" type="date" class="form-control">
                                <div class="col-form-label formError pb-0" id="dateErrorStudent">Error</div>
                            </div>
                        </div>
                        <div class="form-group mb-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="OpretBrugerStudConsent" name="OpretBrugerStudConsent" onchange="checkConsentStudOpretBruger()">
                                <label class="form-check-label" data-key="bekraeft_samtykke_html">
                                    Jeg bekræfter at have læst og forstået Zealand Connects
                                    <a class="link-primary" onclick="openStudConsentForOpretBruger()">samtykkeerklæring om personoplysninger</a>,
                                    som baggrund for mit samtykke til behandling af mine personoplysninger til ovennævnte formål.
                                </label>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-10">
                                <button class="btn gulKnap" data-key="opretBruger" type="submit" id="submitBtn_Student"
                                    onclick="submitOpretStudent()" disabled>Opret Bruger
                                </button>
                            </div>
                        </div>

                        <input id="submit_handle_Student" type="submit" style="display: none">
                    </form>
                </div>
            </div>
            <div id="cookieBox" class="mt-3 mb-5">
                <div id="cookieText" class="text-center">
                    <p data-key="cookie" style="display: inline;">Cookies skal være aktiveret i din browser</p>
                    <button id="questionMarkButton"><img src="/images/blue-question-mark.png" alt="?"></button>
                </div>
            </div>

        </div>
    </div>
</div>

{{> opret-bruger-stud-consent-modal}}
<script src="/javascript/opretBruger.js"></script>
<script>
    let companyChecked = '{{companyChecked}}';
    if (companyChecked == 'checked') {
        showVirksomhedOpret();
    }

    function openStudConsentForOpretBruger() {
        $(document).ready(function () {
            $('#opretBrugerStudConsentModal').modal({
                backdrop: 'static',
                keyboard: false
            });

            $("#opretBrugerStudConsentModal").modal('show');
        });
    }
</script>