<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <div id="loginBoxBackground">
                <div id="loginContent" class="text-center">
                    <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
                    <div class="loginBtnBox">
                        <form class="text-left" method="post" action="opret-bruger/create" id="opretBrugerForm" name="opretBrugerForm"
                        id="virksomhedOpret">
                                <div class="formError">{{emailError}}</div>
                              <div class="form-group row">
                            <label for="email" class="col-4 col-form-label">Email</label> 
                            <div class="col-8">
                            <input id="email" name="email" type="text" class="form-control" placeholder="Email">
                            <br>
                            </div>
                        </div>
                               <div class="form-group row">
                            <label for="gentagEmail" class="col-4 col-form-label">Gentag email</label> 
                            <div class="col-8">
                            <input id="gentagEmail" name="gentagEmail" type="text" class="form-control" placeholder="Gentag email"
                            data-key="placeholderGentagEmail">
                            <br>
                            </div>
                        </div>
                                <div class="formError">{{passwordError}}</div>
                                <div class="form-group row">
                            <label for="adgangskode" class="col-4 col-form-label">Adgangskode</label> 
                            <div class="col-8">
                            <input id="adgangskode" name="password" type="password" class="form-control" placeholder="Adgangskode"
                            data-key="placeholderadgangskode">
                            <br>
                            </div>
                        </div>
                                <div class="form-group row">
                            <label for="gentagAdgangskode" class="col-4 col-form-label">Gentag adgangskode</label> 
                            <div class="col-8">
                            <input id="gentagAdgangskode" name="gentagPassword" type="password" class="form-control" 
                            placeholder="Gentag Adgangskode" data-key="placeholdergentagAdgangskode">
                            <br>
                            </div>
                        </div>
                          <div class="formError">{{cvrError}}</div>
                                <div class="form-group row">
                            <label for="cvr" class="col-4 col-form-label">CVR-Nummer</label> 
                            <div class="col-8">
                            <input id="cvr" name="cvr" type="text" class="form-control" 
                            placeholder="CVR-Nummer" data-key="placeholdercvr">
                            <br>
                            </div>
                        </div>
                                <div class="formError">{{tlfnrError}}</div>
                                <div class="form-group row">
                            <label for="telefonnummer" class="col-4 col-form-label">Telefonnummer</label> 
                            <div class="col-8">
                            <input id="telefonnummer" name="telefonnummer" type="string" class="form-control" 
                            placeholder="telefonnummer" data-key="placeholderTelefonnummer">
                            <br>
                            </div>
                        </div>
                                <div class="formError">{{byError}}</div>
                                <div class="form-group row">
                            <label for="by" class="col-4 col-form-label">By</label> 
                            <div class="col-8">
                            <input id="by" name="by" type="string" class="form-control" placeholder="By"
                             data-key="placeholderBy">
                             <br>
                            </div>
                        </div>
                                <div class="formError">{{postnrError}}</div>
                                <div class="form-group row">
                            <label for="postnummer" class="col-4 col-form-label">Postnummer</label> 
                            <div class="col-8">
                            <input id="postnummer" name="postnummer" type="string" class="form-control" 
                            placeholder="Postnummer" data-key="placeholderPostnummer">
                            <br>
                            </div>
                        </div>     
                            </div>
                            <button class="gulKnap" data-key="opret"> Opret Bruger</button>
                        </form>
                    </div>
                </div>
                <div id="cookieBox">
                    <div id="cookieText">
                        <p data-key="cookie" style="display: inline;">Cookies skal være aktiveret i din browser</p>
                        <button id="questionMarkButton"><img src="/images/blue-question-mark.png" alt="?"></button>
                    </div>
                </div>
            </div>
        </div>
