<script src="https://apis.google.com/js/platform.js" async defer></script>

<div
    class="container-fluid">
    <!-- metode .submit tæller på samme måde som input submit og så kalde form's id  -->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <div id="loginBoxBackground">
                <div id="loginContent" class="text-center">
                    <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
                    <div class="loginBtnBox">
                        <form class="text-left" id="opretBrugerForm" name="opretBrugerForm" id="studentOpret" >
                            <div style="color: red;" class="text-center" id="fejlBesked">{{fejlBesked}}</div>
                            <div style="color: green;" class="text-center" id="succesBesked">{{succesBesked}}</div><br>
                            <div class="row">
                                <div class="col-5"></div>
                                <div class="col-7 col-form-label formError" id="emailError">{{emailError}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-5 col-form-label">Email</label>
                                <div class="col-7">
                                    <input id="email" name="email" type="text" class="form-control" placeholder="Email" required oninvalid="this.setCustomValidity('Feltet må ikke være tomt')" oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5"></div>
                                <div class="col-7 col-form-label formError" id="ge">{{gentagEmailError}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="gentagEmail" data-key="labelGentagEmail" class="col-5 col-form-label">Gentag email</label>
                                <div class="col-7">
                                    <input id="gentagEmail" name="gentagEmail" type="text" class="form-control" placeholder="Gentag email" data-key="placeholderGentagEmail" required oninvalid="this.setCustomValidity('Feltet må ikke være tomt')" oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5"></div>
                                <div class="col-7 col-form-label formError" id="passwordError">{{passwordError}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="adgangskode" data-key="labeladgangskode" class="col-5 col-form-label">Adgangskode</label>
                                <div class="col-7">
                                    <input id="adgangskode" name="password" type="password" class="form-control" placeholder="Adgangskode" data-key="placeholderadgangskode" required oninvalid="this.setCustomValidity('Feltet må ikke være tomt')" oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5"></div>
                                <div class="col-7 col-form-label formError">{{gentagPasswordError}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="gentagAdgangskode" data-key="labelgentagAdgangskode" class="col-5 col-form-label">Gentag adgangskode</label>
                                <div class="col-7">
                                    <input id="gentagAdgangskode" name="gentagPassword" type="password" class="form-control" placeholder="Gentag Adgangskode" data-key="placeholdergentagAdgangskode" required oninvalid="this.setCustomValidity('Feltet må ikke være tomt')" oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fornavn" data-key="fornavn" class="col-5 col-form-label">Fornavn</label>
                                <div class="col-7">
                                    <input id="fornavn" name="fornavn" type="string" class="form-control" placeholder="fornavn" data-key="placeholderFornavn" required oninvalid="this.setCustomValidity('Feltet må ikke være tomt')" oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="efternavn" data-key="efternavn" class="col-5 col-form-label">Efternavn</label>
                                <div class="col-7">
                                    <input id="efternavn" name="efternavn" type="string" class="form-control" placeholder="efternavn" data-key="placeholderEfternavn" required oninvalid="this.setCustomValidity('Feltet må ikke være tomt')" oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5"></div>
                                <div class="col-7 col-form-label formError" id="tlfnrError">{{tlfnrError}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="telefonnummer" data-key="labelTelefonnummer" class="col-5 col-form-label">Telefonnummer</label>
                                <div class="col-7">
                                    <input id="telefonnummer" name="telefonnummer" type="string" class="form-control" placeholder="telefonnummer" data-key="placeholderTelefonnummer" required oninvalid="this.setCustomValidity('Feltet må ikke være tomt')" oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="date" data-key="fødselsdato" class="col-5 col-form-label">Fødselsdato</label>
                                <div class="col-7">
                                    <input id="date" name="date" type="date" class="form-control" placeholder="Dato" data-key="placeholderDato" required oninvalid="this.setCustomValidity('Feltet må ikke være tomt')" oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                        </div>
                        <button class="gulKnap" data-key="opretBruger" type="button" id="submitBtn" onclick="submitOpret()">Opret Bruger</button>
                        <input id="submit_handle" type="submit" style="display: none">
                    </form>
                </div>
            </div>
            <div id="cookieBox">
                <div id="cookieText">
                    <p data-key="cookie" style="display: inline;">Cookies skal være aktiveret i din browser</p>
                    <button id="questionMarkButton"><img src="/images/blue-question-mark.png" alt="?"></button>
                </div>
            </div>
        </div>
    </div>


    <script>
        var backendIsProcessing = false;
        function submitOpret() {
            console.log('submitCheck')
            $('#submit_handle').click();
            // kun hvis alle felter er udfylte sender vi videre til backend validering
            if (document.getElementById("email").validity.valid && document.getElementById("gentagEmail").validity.valid && document.getElementById("adgangskode").validity.valid && document.getElementById("gentagAdgangskode").validity.valid && document.getElementById("telefonnummer").validity.valid && document.getElementById("fornavn").validity.valid && document.getElementById("efterNavn").validity.valid {
                console.log('efter validate')
                if(! backendIsProcessing) {
                    backendIsProcessing = true;
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) { // hvis brugeren ikke er logget ind, så returnere kaldet undefined eller en email
                            let responseObject = JSON.parse(this.responseText)
                            console.log(responseObject)
                            document.getElementById('emailError').innerHTML = responseObject.EmailError;
                            document.getElementById('passwordError').innerHTML = responseObject.PasswordError;
                            document.getElementById('tlfnrError').innerHTML = responseObject.TlfnrError;
                            document.getElementById('forError').innerHTML = responseObject.forError;
                            document.getElementById('efterError').innerHTML = responseObject.efterError;
                            backendIsProcessing = false;
                            // if there were no errors, then begin automatic login and redirect to profile
                            if (responseObject.areThereErrors == "false") { // send login request baseret på values i input felter
                                var xhttp = new XMLHttpRequest();
                                xhttp.onreadystatechange = function () {
                                    if (this.readyState == 4 && this.status == 200) {
                                        window.location.href = "../profil";
                                    }
                                }
                                xhttp.open("POST", "/login/authenticateStudent", true); // ret her
                                xhttp.setRequestHeader("Content-Type", "text/plain")
                                xhttp.send(JSON.stringify({email: document.getElementById('email').value, password: document.getElementById('adgangskode').value}));
                            }
                        }
                    }
                    xhttp.open("POST", "/opret-bruger/studentCreate", true); // ret her
                    xhttp.setRequestHeader("Content-Type", "text/plain")
                    xhttp.send(JSON.stringify({
                        email: document.getElementById('email').value,
                        gentagEmail: document.getElementById('gentagEmail').value,
                        password: document.getElementById('adgangskode').value,
                        gentagPassword: document.getElementById('gentagAdgangskode').value,
                        tflnr: document.getElementById('telefonnummer').value,
                        fornavn: document.getElementById('fornavn').value,
                        efternavn: document.getElementById('efternavn').value,
                        dato: document.getElementById('date').value
                    }));
                }
            }};
        </script>
