<script src='/javascript/godkendelse-af-student.js' defer></script>

<div class="container-fluid">
    <h3 class="text-center">
        {{loggedInUser.fornavn}} {{loggedInUser.efternavn}}
    </h3>

    <div action="/profil/redigerstudent-save" method="POST" id="redigerStudentForm" name="redigerStudentForm">
        <div class="row">
            <div class="col-md-6 col-12 column">
                <div class="form-group">
                    <label for="fornavn">Fornavn</label>
                    <textarea class="form-control" name="fornavn" id="fornavn"
                              rows="2">{{loggedInUser.fornavn}}</textarea>
                    <p id="fornavnError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group">
                    <label for="efternavn">Efternavn</label>
                    <textarea class="form-control" name="efternavn" id="efternavn"
                              rows="2">{{loggedInUser.efternavn}}</textarea>
                    <p id="efternavnError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group" style="display: none;">
                    <label for="email">Email</label>
                    <textarea class="form-control" name="email" id="email"
                              rows="2">{{loggedInUser.email}}</textarea>
                    <p id="emailError" class="CVErrorColor" hidden="true">Du skal skrive din email her og mindst
                        bruge
                        et @</p>
                </div>
                <div class="form-group">
                    <label for="telefon">Telefon</label>
                    <textarea type="number" class="form-control" name="telefon" id="telefon"
                              rows="2">{{loggedInUser.tlfnr}}</textarea>
                    <p id="telefonError" class="CVErrorColor" hidden="true">Du skal skrive dit nummer, det skal
                        præcist
                        være 8
                        tal og må ikke starte med 0</p>
                </div>
            </div>

            <div class="col-md-6 col-12 column">
                <div class="form-group">
                    <label for="profilbillede">Profilbillede</label>
                    <br>
                    <img id="profilbillede" class="img-thumbnail border-0" src="\images\dummy-profile-pic.jpg" alt="PROFILBILLEDE"/>
                </div>
            </div>
        </div>


        <div>
            <button type="button" class="btn btn-success" id="gem">Gem</button>
        </div>

        </form>
    </div>
