<script src='/javascript/godkendelse-af-student.js' defer></script>
<script src="/javascript/rediger-studentprofil.js"></script>

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h1>{{loggedInUser.fornavn}} {{loggedInUser.efternavn}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="form-column col-12 col-md-4">
            <form action="/profil/redigerstudent-save" method="POST" id="redigerStudentForm"
                  name="redigerStudentForm">

                <div class="form-group required">
                    <label for="fornavn">Fornavn</label>
                    <input class="form-control" name="fornavn" id="fornavn" rows="2"
                           value="{{loggedInUser.fornavn}}">
                    <p id="fornavnError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required">
                    <label for="efternavn">Efternavn</label>
                    <input class="form-control" name="efternavn" id="efternavn" rows="2"
                           value="{{loggedInUser.efternavn}}">
                    <p id="efternavnError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required" style="display: none;">
                    <label for="email">Email</label>
                    <input class="form-control" name="email" id="email" rows="2" value="{{loggedInUser.email}}">
                    <p id="emailError" class="CVErrorColor" hidden="true">Du skal skrive din email her og mindst
                        bruge
                        et @</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Telefon</label>
                    <input type="number" class="form-control" name="telefon" id="telefon" rows="2"
                           value="{{loggedInUser.tlfnr}}">
                    <p id="telefonError" class="CVErrorColor" hidden="true">Du skal skrive dit nummer, det skal
                        præcist
                        være 8
                        tal og må ikke starte med 0</p>
                </div>

                <div>
                    <button type="button" class="btn btn-success" id="gem">Gem</button>
                </div>
            </form>
        </div>

        <div class="form-column col-12 col-md-4">
            <form action="/profil/redigerstudentpic-save" method="POST">

                <div style="display: flex; flex-direction: row;">
                    <label style="margin-right: 5px" id="profilbilledeLabel">Profilbillede</label>
                    <span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                          title="Kun billeder af filtyperne .jpg og .png samt maksimal filstørrelse på 10MB">?</span>
                </div>
                <div class="profilePicHolder">
                    <img id="profilbillede" class="img-thumbnail border-0" src="\images\dummy-profile-pic.jpg"
                         alt="PROFILBILLEDE">
                    <div class="custom-file">
                        <input type="file" name="profile_picture" accept=".jpg, .jpeg, .png" class="custom-file-input"
                               id="profilePic" onchange="validateAndUpdateInputLabel('picLabel', 'profilePic')">
                        <label id="picLabel" class="custom-file-label" for="profilePic">Vælg billede</label>
                        <p id="profilePicError" class="CVErrorColor" hidden="true">Du kan kun uploade en fil på maksimum
                            10MB</p>
                    </div>
                </div>

                <div>
                    <input type="submit" class="btn btn-success" value="Gem Billede">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function validateAndUpdateInputLabel(labelId, inputId) {
        let file = document.getElementById(inputId).files[0];
        console.log(file)
        //Checker om der er tilføjet filer
        //Henter den indexerede fil i og sætter dens str til kilobytes
        let fsize = Math.round(file.size / 1000);

        //Check fil størrelsen på hver fil
        if (fsize > 10240) {
            alert("File selected is too big, maximum size is 10MB")
        }

        document.getElementById(labelId).innerHTML = document.getElementById(inputId).value;
    }
</script>
