<script src='/javascript/godkendelse-af-virksomhed.js' defer></script>
<script src="/js/cropper.js"></script>
<link href="/stylesheets/cropper.css" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>
                {{loggedInVirksomhed.navn}}
            </h1>
        </div>
    </div>

    <form action="/profil/rediger-save" method="POST" id="redigerVirksomhedForm" name="redigerVirksomhedForm"
          enctype="multipart/form-data">
        <div class="row">
            <div class="form-column col-12 col-md-4">

                <div class="form-group required">
                    <label for="navn">Virksomheds Navn</label>
                    <input class="form-control" name="navn" id="navn" rows="2" value="{{loggedInVirksomhed.navn}}">
                    <p id="navnError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required" style="display: none;">
                    <label for="email">Email</label>
                    <input class="form-control" name="email" id="email" rows="2" value="{{loggedInVirksomhed.email}}">
                    <p id="emailError" class="CVErrorColor" hidden="true">Du skal skrive din email her og mindst bruge
                        et @</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Telefon</label>
                    <input type="number" class="form-control" name="telefon" id="telefon" rows="2"
                           value="{{loggedInVirksomhed.tlfnr}}">
                    <p id="telefonError" class="CVErrorColor" hidden="true">Du skal skrive dit nummer, det skal præcist
                        være 8 tal og må ikke starte med 0</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">CVR Nummer</label>
                    <input type="number" class="form-control" name="cvrnr" id="cvrnr" rows="2"
                           value="{{loggedInVirksomhed.cvrnr}}">
                    <p id="cvrnrError" class="CVErrorColor" hidden="true">Du skal skrive dit CVR nummer, det skal
                        præcist være 8 tal og må ikke starte med 0</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Address</label>
                    <input type="text" class="form-control" name="address" id="address" rows="2"
                           value="{{loggedInVirksomhed.adresse}}">
                    <p id="addressError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Hjemmeside</label>
                    <input type="text" class="form-control" name="hjemmeside" id="hjemmeside" rows="2"
                           value="{{loggedInVirksomhed.hjemmeside}}">
                    <p id="hjemmesideError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Direktør</label>
                    <input type="text" class="form-control" name="direkoer" id="direkoer" rows="2"
                           value="{{loggedInVirksomhed.direktoer}}">
                    <p id="direkoerError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Land</label>
                    <input type="text" class="form-control" name="land" id="land" rows="2"
                           value="{{loggedInVirksomhed.land}}">
                    <p id="landError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Postnummer</label>
                    <input type="number" class="form-control" name="postnr" id="postnr" rows="2"
                           value="{{loggedInVirksomhed.postnr}}">
                    <p id="postnrError" class="CVErrorColor" hidden="true">Du skal skrive dit postnummer, det skal
                        præcist være 4 tal</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">By</label>
                    <input type="text" class="form-control" name="by" id="by" rows="2"
                           value="{{loggedInVirksomhed.by}}">
                    <p id="byError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div>
                    <button type="button" class="btn btn-success" id="gem">Gem</button>
                </div>


            </div>

            <div class="form-column col-12 col-md-4">
                <div style="display: flex; flex-direction: row;">
                    <label style="margin-right: 5px" id="profilbilledeLabel">Virksomhedslogo</label>
                    <span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                          title="Filtyper: .jpg, .jpeg, .png. Min. bredde: 250px. Min. højde: 250px. Max. filstørrelse: 1MB. Billedet kan skæres til efter det er valgt.">?</span>
                </div>
                <div class="profilePicHolder">
                    <img id="profilbillede" class="img-thumbnail border-0" src="\images\no-logo.png"
                         alt="PROFILBILLEDE">
                    <div class="custom-file">
                        <input id="crop_base64" type="text" name="crop_base64" class="d-none">
                        <input type="file" name="profile_picture" accept=".jpg, .jpeg, .png" class="custom-file-input"
                               id="profilePic" onchange="validateAndUpdateInputLabel('picLabel', 'profilePic')">
                        <label id="picLabel" class="custom-file-label" for="profilePic">Vælg billede</label>
                        <p id="profilePicError" class="CVErrorColor" hidden="true">Du kan kun uploade en fil på maksimum
                            1MB</p>
                    </div>
                </div>
            </div>

    </form>

</div>
</div>

{{> cropper-modal}}

<script>
    function validateAndUpdateInputLabel(labelId, inputId) {
        let file = document.getElementById(inputId).files[0];

        // Get dimensions of the image
        if (file.type === "image/jpeg" || file.type === "image/jpg" || file.type === "image/png") {
            let _URL = window.URL || window.webkitURL;
            let img = new Image();
            img.src = _URL.createObjectURL(file);

            // Check the aspect ratio and dimensions
            img.onload = function () {
                if (this.width < 250 || this.height < 250 || file.size > 1000000) {
                    console.log("Invalid image");
                    document.getElementById(inputId).value = '';
                } else {
                    $('#cropperModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });

                    $("cropperModal").modal('show');

                    let src = this.src;
                    let cropper;

                    $('#cropperModal').on('shown.bs.modal', function (event) {
                        let cropFrame = document.getElementById('cropFrame');
                        cropFrame.src = src
                        cropper = new Cropper(cropFrame, {
                            aspectRatio: 1 / 1,
                            viewMode: 1,
                            movable: false,
                            zoomable: false,
                            rotable: false,
                            minCropBoxWidth: 250,
                            minCropBoxHeight: 250,

                            ready() {

                                $('#confirm').click(function () {
                                    let data = cropper.getData(true);
                                    let imgData = cropper.getImageData();

                                    let canvas = cropper.getCroppedCanvas();
                                    let dataUrl = canvas.toDataURL('image/jpeg');

                                    document.getElementById('crop_base64').value = dataUrl.split(';base64,')[1];
                                    document.getElementById("profilbillede").src = dataUrl;
                                    document.getElementById(labelId).innerHTML = document.getElementById(inputId).files[0].name;
                                });

                            }
                        });
                    })

                    $('#cropperModal').on('hidden.bs.modal', function (event) {
                        cropper.destroy();
                        cropper = null;
                        cropFrame.src = '';
                        $('#cropperModal').off('shown.bs.modal');
                        $('#cropperModal').off('hidden.bs.modal');
                        $('#confirm').off('click');
                    });
                }
            }

        } else {
            console.log("Invalid file type");
        }
    }

    function updateElements() {
        let profilePicture = "{{loggedInVirksomhed.logo}}";

        if (profilePicture !== "" && profilePicture != null) {
            document.getElementById("profilbillede").src = '/uploads/' + profilePicture;
        }
    }

    updateElements();
</script>
