<script src='/javascript/godkendelse-af-virksomhed.js' defer></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>
                    {{loggedInVirksomhed.navn}}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8">
            <form action="/profil/rediger-save" method="POST" id="redigerVirksomhedForm" name="redigerVirksomhedForm">
                <div class="form-group required">
                    <label for="navn">Virksomheds Navn</label>
                    <input class="form-control" name="navn" id="navn" rows="2" value="{{loggedInVirksomhed.navn}}">
                    <p id="navnError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required" style="display: none;">
                    <label for="email">Email</label>
                    <input class="form-control" name="email" id="email" rows="2" value="{{loggedInVirksomhed.email}}">
                    <p id="emailError" class="CVErrorColor" hidden="true">Du skal skrive din email her og mindst bruge et @</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Telefon</label>
                    <input type="number" class="form-control" name="telefon" id="telefon" rows="2" value="{{loggedInVirksomhed.tlfnr}}">
                    <p id="telefonError" class="CVErrorColor" hidden="true">Du skal skrive dit nummer, det skal præcist være 8 tal og må ikke starte med 0</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">CVR Nummer</label>
                    <input type="number" class="form-control" name="cvrnr" id="cvrnr" rows="2" value="{{loggedInVirksomhed.cvrnr}}">
                    <p id="cvrnrError" class="CVErrorColor" hidden="true">Du skal skrive dit CVR nummer, det skal præcist være 8 tal og må ikke starte med 0</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Address</label>
                    <input type="text" class="form-control" name="address" id="address" rows="2" value="{{loggedInVirksomhed.adresse}}">
                    <p id="addressError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Hjemmeside</label>
                    <input type="text" class="form-control" name="hjemmeside" id="hjemmeside" rows="2" value="{{loggedInVirksomhed.hjemmeside}}">
                    <p id="hjemmesideError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Direktør</label>
                    <input type="text" class="form-control" name="direkoer" id="direkoer" rows="2" value="{{loggedInVirksomhed.direktoer}}">
                    <p id="direkoerError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Land</label>
                    <input type="text" class="form-control" name="land" id="land" rows="2" value="{{loggedInVirksomhed.land}}">
                    <p id="landError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">Postnummer</label>
                    <input type="number" class="form-control" name="postnr" id="postnr" rows="2" value="{{loggedInVirksomhed.postnr}}">
                    <p id="postnrError" class="CVErrorColor" hidden="true">Du skal skrive dit postnummer, det skal præcist være 4 tal</p>
                </div>
                <div class="form-group required">
                    <label for="telefon">By</label>
                    <input type="text" class="form-control" name="by" id="by" rows="2" value="{{loggedInVirksomhed.by}}">
                    <p id="byError" class="CVErrorColor" hidden="true">Skal udfyldes</p>
                </div>
                <div>
                    <button type="button" class="btn btn-success" id="gem">Gem</button>
                </div>

            </form>
       </div>
    </div>
</div>

{{!-- <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <div id="loginBoxBackground">
                <div id="redigerVirksomhedContent" class="text-center">
                    <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
                    <form class="text-left" action="/profil/rediger-save" method="post">
                        <div style="color: red;" class="text-center">{{fejlBesked}}</div>
                        <div style="color: green;" class="text-center">{{succesBesked}}</div><br>
                        <p class="text-center" data-key="labelPaakraevet">Påkrævet</p><br>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{EmailError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="virksomhedEmail" class="col-4 col-form-label">Email</label> 
                            <div class="col-8">
                            <input id="virksomhedEmail" readonly name="virksomhedEmail" type="email" class="form-control" value="{{email}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{TlfnrError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="telefonnummer" data-key="labelTelefonnummer" class="col-4 col-form-label">Telefonnummer</label> 
                            <div class="col-8">
                            <input id="telefonnummer" name="telefonnummer" type="text" class="form-control" value="{{tlfnr}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{ByError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="by" data-key="labelBy" class="col-4 col-form-label">By</label> 
                            <div class="col-8">
                            <input id="by" name="by" type="text" class="form-control" value="{{by}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{PostnrError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="postnummer" data-key="labelPostnummer" class="col-4 col-form-label">Postnummer</label> 
                            <div class="col-8">
                            <input id="postnummer" name="postnummer" type="text" class="form-control" value="{{postnummer}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{CVRError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="cvr" data-key="labelcvr" class="col-4 col-form-label">CVR-Nummer</label> 
                            <div class="col-8">
                            <input id="cvr" name="cvr" type="text" class="form-control" value="{{cvr}}">
                            </div>
                        </div>
                        <div class="col-12 col-form-label row"></div>
                        <div class="form-group row">
                            <label for="adgangskode" data-key="labeladgangskode" class="col-4 col-form-label">Adgangskode</label> 
                            <div class="col-8">
                            <input id="adgangskode" name="adgangskode" type="button" class="form-control" value="Nulstil adgangskode" data-key="inputNulstilAdgangskode">
                            </div>
                        </div>
                        <div class="col-12 col-form-label row"></div>
                        <p class="text-center" data-key="labelValgfri">Valgfri</p><br>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{NavnError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="navn" data-key="labelFirmanavn" class="col-4 col-form-label">Firmanavn</label> 
                            <div class="col-8">
                            <input id="navn" name="navn" type="text" class="form-control" value="{{firmanavn}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{AdresseError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="adresse" data-key="labelAdresse" class="col-4 col-form-label">Adresse</label> 
                            <div class="col-8">
                            <input id="adresse" name="adresse" type="text" class="form-control" value="{{adresse}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{HjemmesideError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="hjemmeside" data-key="labelHjemmeside" class="col-4 col-form-label">Hjemmeside</label> 
                            <div class="col-8">
                            <input id="hjemmeside" name="hjemmeside" type="text" class="form-control" value="{{hjemmeside}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{DirektoerError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="direktoer" data-key="labelDirektoer" class="col-4 col-form-label">Direktør</label> 
                            <div class="col-8">
                            <input id="direktoer" name="direktoer" type="text" class="form-control" value="{{direktoer}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{LandError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="land" data-key="labelLand" class="col-4 col-form-label">Land</label> 
                            <div class="col-8">
                                <input id="land" name="land" type="text" class="form-control" value="{{land}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-form-label" style="color: red;">{{LogoError}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="land" data-key="labelLogo" class="col-4 col-form-label">Virksomhedslogo</label>
                            <div class="col-8">
                                <div class="custom-file">
                                    <input type="file" name="company_logo" accept=".png, .jpeg, .jpg, .svg, .bmp" class="custom-file-input" id="CompanyLogo"> <!--onchange="updateInputLabel('logoLabel', 'CompanyLogo')"-->
                                    <label class="custom-file-label" id="logoLabel" for="CompanyLogo" data-key="labelVaelgFil">Vælg fil</label>
                                </div>
                            </div>
                        </div>
                        <input type="submit" name="sumit" id="submit" class="gulKnap" value="Gem Ændringer" data-key="inputGemAendringer">
                    </form>
                    <div id="cookieBox">
                        <div id="cookieText" >
                            <p data-key="cookie" style="display: inline;">Cookies skal være aktiveret i din browser</p>
                            <button id="questionMarkButton"><img src="/images/blue-question-mark.png" alt="?"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}