<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 id="cvOverskrift" data-key="Opslag">Opslag</h1>
            <hr>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-12 col-lg-2 border rounded h-100">
            <h5 class="m-2">Filter</h5>
            <form class="mt-3 mb-3" id="filterForm" method="POST" action="search-praktik/query"
                onsubmit="return submitForm(this);">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 id="collapse5Header"
                                class="panel-title mb-2 hand-hover"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapse5"
                                onclick="animateArrow(this)"
                                data-key="Opslagstype_html">
                                    Opslagstype
                                <img src="images/chevron-right.svg" width="12" height="12">
                            </h6>
                        </div>

                        <div id="collapse5" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill" data-key="Praktik">
                                        Praktik
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="typ" value="1"
                                        onclick="addFilter('typ', '1')" {{checkedStateURL url 'typ' '1'}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill" data-key="Studiejob">
                                        Studiejob
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="typ" value="2"
                                        onclick="addFilter('typ','2')" {{checkedStateURL url 'typ' '2'}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Trainee
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="typ" value="3"
                                        onclick="addFilter('typ','3')" {{checkedStateURL url 'typ' '3'}}>
                                </li>

                            </ul>


                        </div>

                        <div class="panel-heading">
                            <h6 id="collapse1Header"
                                class="panel-title mb-2 hand-hover"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapse1"
                                onclick="animateArrow(this)"
                                data-key="Uddannelser_html">
                                    Uddannelser
                                <img src="images/chevron-right.svg" width="12" height="12">
                            </h6>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <ul class="pl-1 mr-2" style="list-style: none;">
                                {{#each categories}}

                                    <div class="panel-heading">
                                        <h6
                                            id="panel{{id}}"
                                            class="panel-title mb-2 hand-hover"
                                            data-toggle="collapse"
                                            data-parent="#accordion"
                                            href="#category{{id}}"
                                            onclick="animateArrow(this)">
                                            {{name}}
                                            <img src="images/chevron-right.svg" {{#if showCategory}}class="arrow-rotate"{{/if}} width="12" height="12">
                                        </h6>
                                    </div>

                                    <div id="category{{id}}" class="panel-collapse collapse in {{showCategory}}">
                                        <ul class="pl-1 mr-2" style="list-style: none;">
                                            {{#each uddannelser}}
                                                <li class="mb-2 d-flex flex-row">
                                                    <label class="form-check-label flex-fill">
                                                        {{name}}
                                                    </label>
                                                    <input {{checked}}{{#unless checked}}{{checkedStateURL ../../url 'udd' id}}{{/unless}} class="align-self-center" type="checkbox" name="udd" value="{{id}}"
                                                                                                                                        onclick="addFilter('udd', '{{id}}')">
                                                    {{#if checked}}
                                                        <body onload="preconfigEducationFilter('collapse1', 'category{{../id}}', 'panel{{../id}}',  '{{id}}')"></body>
                                                    {{/if}}
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                {{/each}}
                            </ul>
                        </div>

                        <div class="panel-heading">
                            <h6 id="collapse2Header"
                                class="panel-title mb-2 hand-hover"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapse2"
                                onclick="animateArrow(this)"
                                data-key="Land_html">
                                    Land
                                <img src="images/chevron-right.svg" width="12" height="12">
                            </h6>
                        </div>

                        <div id="collapse2" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill" data-key="Indland">
                                        Indland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="lnd" value="ind"
                                        onclick="addFilter('lnd', 'ind')" {{checkedStateURL url 'lnd' 'ind'}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill" data-key="Udland">
                                        Udland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="lnd" value="ud"
                                        onclick="addFilter('lnd','ud')" {{checkedStateURL url 'lnd' 'ud'}}>
                                </li>

                            </ul>


                        </div>

                        <div class="panel-heading">
                            <h6 id="collapse3Header"
                                class="panel-title mb-2 hand-hover"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapse3"
                                onclick="animateArrow(this)">
                                    Region
                                <img src="images/chevron-right.svg" width="12" height="12">
                            </h6>
                        </div>

                        <div id="collapse3" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Hovedstaden
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg" value="1"
                                        onclick="addFilter('reg', '1')" {{checkedStateURL url 'reg' '1'}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Midtjylland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg" value="2"
                                        onclick="addFilter('reg','2')" {{checkedStateURL url 'reg' '2'}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Nordjylland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg" value="3"
                                        onclick="addFilter('reg','3')" {{checkedStateURL url 'reg' '3'}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Sjælland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg" value="4"
                                        onclick="addFilter('reg','4')" {{checkedStateURL url 'reg' '4'}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Syddanmark
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg" value="5"
                                        onclick="addFilter('reg','5')" {{checkedStateURL url 'reg' '5'}}>
                                </li>

                            </ul>


                        </div>

                        <div class="panel-heading">
                            <h6 id="collapse4Header"
                                class="panel-title mb-2 hand-hover"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapse4"
                                onclick="animateArrow(this)"
                                data-key="By_html">
                                    By
                                <img src="images/chevron-right.svg" width="12" height="12">
                            </h6>
                        </div>

                        <div id="collapse4" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-column">
                                    <label class="form-check-label flex-fill" data-key="Indtast_postnummer">
                                        Indtast postnummer
                                    </label>
                                    <input id='inputPost' class="align-self-center" type="number" name="pos">

                                </li>
                                <li>
                                    <button type="button" class="btn btn-success" onclick="addFilterSearch('pos', document.getElementById('inputPost').value)" data-key="Soeg">Søg</button>
                                    <button type="button" class="btn btn-success" onclick="removeFilterSearch('inputPost', 'pos')" data-key="Ryd">Ryd</button>
                                </li>

                            </ul>


                        </div>

                        <div class="panel-heading">
                            <h6 id="collapse6Header"
                                class="panel-title mb-2 hand-hover"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapse6"
                                onclick="animateArrow(this)"
                                data-key="By_html">
                                    Fri søgning
                                <img src="images/chevron-right.svg" width="12" height="12">
                            </h6>
                        </div>

                        <div id="collapse6" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-column">
                                    <div>
                                        <label class="form-check-label flex-fill" data-key="Indtast_postnummer">
                                        Søgefelt
                                        </label>
                                    <span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                                            title="Indtast søgeord adskilt med mellemrum"
                                            data-Key="Indtast_search_tooltip">?</span>
                                    </div>
                                    
                                    <input id='inputSearch' class="align-self-center" name="pos">

                                </li>
                                <li>
                                    <button type="button" class="btn btn-success" onclick="addFilterSearch('search', document.getElementById('inputSearch').value)" data-key="Soeg">Søg</button>
                                    <button type="button" class="btn btn-success" onclick="removeFilterSearch('inputSearch', 'search')" data-key="Ryd">Ryd</button>
                                </li>

                            </ul>


                        </div>

                    </div>
                </div>


                {{!-- <button class="btn btn-success mb-2 mt-4" type="submit">Filtrer</button> --}}
            </form>
        </div>
        <div class="col">
            <div class="mb-2 d-flex flex-row">
                <label id="results" class="mb-0 align-self-center sorteringsContainer">
                    {{resultater}}&nbsp;
                </label>
                <label class="mb-0 flex-fill align-self-center sorteringsContainer" data-key="resultater">
                    resultater
                </label>
                <label class="mb-0 mr-1 align-self-center sorteringsContainer" data-key="Sortering">
                    Sortering:
                </label>
                <div class="btn-group">
                    <button type="button" id="dropdownButton" class="btn btn-sm dropdown-toggle sorteringsContainer" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" value="updatedAt" data-key="Senest_opdateret">
                        Senest opdateret
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!--
                        <a class="dropdown-item sorteringsContainer" id="senestOpdateret" onclick="changeSort(this, 'updatedAt')">Senest
                            opdateret</a>
                        <a class="dropdown-item sorteringsContainer" id="overskrift" onclick="changeSort(this, 'overskrift')">Ny
                            sortering</a>
                        -->
                    </div>
                </div>
                <label class="mb-0 mr-1 align-self-center sorteringsContainer" data-key="Raekkefoelge">
                    Rækkefølge:
                </label>
                <div class="btn-group">
                    <button type="button" id="dropdownButton2" class="btn btn-sm dropdown-toggle sorteringsContainer" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" value="DESC" data-key="Faldende">
                        Faldende
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item sorteringsContainer" id="ascending" onclick="changeOrder(this, 'ASC')" data-key="Stigende">Stigende</a>
                        <a class="dropdown-item sorteringsContainer" id="descending" onclick="changeOrder(this, 'DESC')" data-key="Faldende">Faldende</a>
                    </div>
                </div>

            </div>
            <div id="cards">
                {{> search-praktik-card}}
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center" id="pagination">
        {{> search-pagination}}
    </div>
</div>
<script src="/javascript/search_praktik.js"></script>