<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 id="cvOverskrift" data-key="CV'er">CV'er</h1>
            <hr>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-12 col-lg-2 border rounded h-100">
            <h5 class="m-2">Filter</h5>
            <form class="mt-3 mb-3" id="filterForm" method="POST" action="search-cv/query" onsubmit="return submitForm(this);">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 id="collapse1Header"
                                class="panel-title mb-2 hand-hover"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapse1"
                                data-key="Uddannelser_html"
                                onclick="animateArrow(this)"
                            >
                                    Uddannelser
                                <img src="images/chevron-right.svg" width="12" height="12">
                            </h6>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                {{#each udd}}
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill" data-key="{{name}}">
                                        {{name}}
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="udd" value='{{id}}'
                                        onclick="addFilter('udd', '{{id}}')" {{checkedStateURL ../url 'udd' id}}>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="panel-heading">
                            <h6 id="collapse2Header"
                                class="panel-title mb-2 hand-hover"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapse2"
                                onclick="animateArrow(this)"
                                data-key="Land_html"
                            >
                                    Land
                                <img src="images/chevron-right.svg" width="12" height="12">
                            </h6>
                        </div>

                        <div id="collapse2" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill" data-key="Indland">
                                        Indland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="lnd" value="ind"
                                        onclick="addFilter('lnd', 'ind')" {{checkedStateURL url 'lnd' 'ind'}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill" data-key="Udland">
                                        Udland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="lnd" value="ud"
                                        onclick="addFilter('lnd','ud')" {{checkedStateURL url 'lnd' 'ud'}}>
                                </li>

                            </ul>


                        </div>
                    </div>
                </div>
                {{!-- <button class="btn btn-success mb-2 mt-4" type="submit">Filtrer</button> --}}
            </form>
        </div>
        <div class="col">
            <div class="mb-2 d-flex flex-row" >
                <label id="results" class="mb-0 flex align-self-center sorteringsContainer">
                    {{resultater}}&nbsp;
                </label>
                <label class="mb-0 flex-fill align-self-center sorteringsContainer" data-key="resultater">
                    resultater
                </label>
                <label class="mb-0 mr-1 align-self-center sorteringsContainer" data-key="Sortering">
                    Sortering:
                </label>
                <div class="btn-group">
                    <button type="button" id="dropdownButton" class="btn btn-sm dropdown-toggle sorteringsContainer" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" value="updatedAt" data-key="Senest_opdateret">
                        Senest opdateret
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!--
                        <a class="dropdown-item sorteringsContainer" id="senestOpdateret" onclick="changeSort(this, 'updatedAt')">Senest
                            opdateret</a>
                            
                        <a class="dropdown-item sorteringsContainer" id="overskrift"
                            onclick="changeSort(this, 'overskrift')">Stilling/status</a>
                            -->
                    </div>
                </div>
                <label class="mb-0 mr-1 align-self-center sorteringsContainer" data-key="Raekkefoelge">
                    Rækkefølge:
                </label>
                <div class="btn-group">
                    <button type="button" id="dropdownButton2" class="btn btn-sm dropdown-toggle sorteringsContainer" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" value="DESC" data-key="Faldende">
                        Faldende
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item sorteringsContainer" id="ascending" onclick="changeOrder(this, 'ASC')" data-key="Stigende">Stigende</a>
                        <a class="dropdown-item sorteringsContainer" id="descending" onclick="changeOrder(this, 'DESC')" data-key="Faldende">Faldende</a>
                    </div>
                </div>

            </div>
            <div id=cards>
                {{> search-cv-card}}
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center" id="pagination">
        {{> search-pagination}}
    </div>
</div>
<script src="/javascript/search_cv.js"></script>