<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 id="cvOverskrift">CV'er</h1>
            <hr>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-2 border rounded h-100">
            <h5 class="m-2">Filter</h5>
            <form class="mt-3 mb-3" id="filterForm">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title mb-2">
                                <a id="filtrerUddannelser" class="text-decoration-none" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapse1">
                                    Uddannelser
                                </a>
                            </h6>
                        </div>

                        <div id="collapse1" class="panel-collapse collapse in {{show}}">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Datamatiker
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="" id="datamatiker" {{dtmCb}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Handelsøkonom
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="" id="handelsøkonom" {{hoeCb}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Finansøkonom
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="" id="finansøkonom" {{foeCb}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        International Handel og Markedsføring
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="" id="ihom" {{ihmCb}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Innovation og Entrepreneurship
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="" id="ioe" {{ioeCb}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Bygningskontruktør
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="" id="bygningskontruktør" {{bkCb}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Byggetekniker
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="" id="byggetekniker" {{btCb}}>
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Installatør, stærkstrøm
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="" id="installatør" {{insCb}}>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-success mb-2 mt-4" onclick="filter()">Filtrer</button>
        </div>
        <div class="col">
            <div class="mb-2 d-flex flex-row">
                <label class="mb-0 flex-fill align-self-center">
                    {{resultater}} resultater
                </label>
                <label class="mb-0 mr-1 align-self-center">
                    sortering:
                </label>
                <div class="btn-group">
                    <button type="button" id="dropdownButton" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" value={{sort}}>
                        {{sortName}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" id="senestOpdateret" onclick="sort('updatedAt')">Senest
                            opdateret</a>
                        <a class="dropdown-item" href="#" id="overskrift" onclick="sort('overskrift')">Overskrift</a>
                    </div>
                </div>

            </div>
            <div id=cards>
                {{#each json}}
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-auto">
                            <img class="center-cropped"
                                src="https://4.bp.blogspot.com/-zsbDeAUd8aY/US7F0ta5d9I/AAAAAAAAEKY/UL2AAhHj6J8/s1600/facebook-default-no-profile-pic.jpg">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">{{overskrift}}</h5>
                                <h6 class="card-title">{{email}}</h5>
                                    <p class="card-text">{{om_mig}}</p>
                                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->

                            </div>
                        </div>
                    </div>
                    <a href='/search-cv/{{id}}' class="stretched-link"></a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="/search-cv?page=1" onclick="changenumber()">1</a></li>
                <li class="page-item"><a class="page-link" href="/search-cv?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="/search-cv?page=3">3</a></li>
            </ul>
        </nav>
    </div>
</div>
<script src="/javascript/search_cv.js"></script>