<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 id="cvOverskrift">CV'er</h1>
            <hr>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-2 border rounded h-100">
            <h5 class="m-2">Filter</h5>
            <form class="mt-3 mb-3" id="filterForm" method="POST" action="search-cv/query" onsubmit="return submitForm(this);">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title mb-2">
                                <a id="filtrerUddannelser" class="text-decoration-none" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapse1">
                                    Uddannelser
                                </a>
                            </h6>
                        </div>

                        <div id="collapse1" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                {{#each udd}}
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        {{name}}
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="udd{{name}}" onclick="addFilter('udd', '{{id}}')">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="panel-heading">
                            <h6 class="panel-title mb-2">
                                <a id="filtrerIndlandUdland" class="text-decoration-none" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Land
                                </a>
                            </h6>
                        </div>

                        <div id="collapse2" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Indland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="indland" onclick="newFilter()">
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Udland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="udland" onclick="newFilter()">
                                </li>
                                
                            </ul>
                            

                        </div>
                    </div>
                </div>
                {{!-- <button class="btn btn-success mb-2 mt-4" type="submit">Filtrer</button> --}}
            </form>
        </div>
        <div class="col">
            <div class="mb-2 d-flex flex-row">
                <label id="results" class="mb-0 flex-fill align-self-center">
                    {{resultater}} resultater
                </label>
                <label class="mb-0 mr-1 align-self-center">
                    Sortering:
                </label>
                <div class="btn-group">
                    <button type="button" id="dropdownButton" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" value="updatedAt">
                        Senest opdateret
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" id="senestOpdateret" onclick="changeSort(this, 'updatedAt')">Senest
                            opdateret</a>
                        <a class="dropdown-item" id="overskrift" onclick="changeSort(this, 'overskrift')">Stilling/status</a>
                    </div>
                </div>
                <label class="mb-0 mr-1 align-self-center">
                    Rækkefølge:
                </label>
                <div class="btn-group">
                    <button type="button" id="dropdownButton2" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" value="ASC">
                        Faldende
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" id="ascending" onclick="changeOrder(this, 'ASC')">Stigende</a>
                        <a class="dropdown-item" id="descending" onclick="changeOrder(this, 'DESC')">Faldende</a>
                    </div>
                </div>

            </div>
            <div id=cards>
                {{#each json}}
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-auto">
                            <img class="center-cropped"
                                src="https://4.bp.blogspot.com/-zsbDeAUd8aY/US7F0ta5d9I/AAAAAAAAEKY/UL2AAhHj6J8/s1600/facebook-default-no-profile-pic.jpg">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">{{overskrift}}</h5>
                                <h6 class="card-title">{{email}}</h6>
                                    <p class="card-text autobreak">{{om_mig}}</p>

                            </div>
                        </div>
                    </div>
                    <a href='/search-cv/{{id}}' class="stretched-link"></a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {{pageItm1}}"><a class="page-link" href="/search-cv?page={{pageJson.one}}" onclick="changePage({{pageJson.one}})">{{pageJson.one}}</a></li>
                <li class="page-item {{pageItm2}}"><a class="page-link" href="/search-cv?page={{pageJson.two}}" onclick="changePage({{pageJson.two}})">{{pageJson.two}}</a></li>
                <li class="page-item"><a class="page-link" href="/search-cv?page={{pageJson.three}}" onclick="changePage({{pageJson.three}})">{{pageJson.three}}</a></li>
            </ul>
        </nav>
    </div>
</div>
<script src="/javascript/search_cv.js"></script>