<div class="container-fluid">

    <div class="row mt-4 mb-4">
        <div class="col-2">
            {{#if rlogo}}
                <img class="img-thumbnail border-0" src="/uploads/{{rlogo}}" alt="COMPANY LOGO">
            {{else}}
                <img class="img-thumbnail border-0" src="/images/no-logo.png" alt="COMPANY LOGO">
            {{/if}}
        </div>

        <div class="col-10">
            <table id="viewpostTable">
                <tr style=" padding: 5px">
                    <td colspan="2">
                        <h2>{{rtitle}}</h2>
                    </td>
                </tr>
                <tr>
                    <td>Uddannelse:</td>
                    <td id=educationContainer>{{reducation}}</td>
                </tr>
                <tr>
                    <td>Land:</td>
                    <td id=countryContainer>{{rcountry}}</td>
                </tr>

                {{#if isDenmark}}
                    <tr id="regionParent">
                        <td>Region:</td>
                        <td id="regionContainer">{{rregion}}</td>
                    </tr>
                    <tr id="cityParent">
                        <td>By:</td>
                        <td>{{rcity}}</td>
                    </tr>
                <tr id="postcodeParent">
                    <td>Postnummer:</td>
                    <td>{{rpostcode}}</td>
                </tr>
                {{/if}}
                <tr>
                    <td>Email:</td>
                    <td id="emailContainer"><a href="mailto:{{remail}}">{{remail}}</a></td>
                </tr>
                <tr>
                    <td>Kontaktperson:</td>
                    <td id="contactContainer">{{rcontact}}</td>
                </tr>
                <tr>
                    <td>CVR Nummer:</td>
                    <td id="cvrContainer">{{rcvr}}</td>
                </tr>
                <tr>
                    <td>Hjemmeside:</td>
                    <td id="linkContainer"><a href="{{rcompany}}" target="_Blank">{{rcompany}}</a></td>
                </tr>
                {{#if rdoc}}
                    <tr id="docContainer">
                        <td>Vedhæftet fil:</td>
                        <td id="docContainer2"><a href="/uploads/{{rdoc}}" target="_Blank">{{rdoc}}</a></td>
                    </tr>
                {{/if}}
            </table>

        </div>
        
    </div>
    {{#unless noButtons}}
        <div class="col-12 col-lg-2 d-flex flex-column mt-2">
            {{#if ejer}}
            <button type="button" class="btn btn-success mt-3" onclick="window.location.href='../internship_update?id={{rid}}'">Rediger
                opslag</button>
            {{/if}}
        </div>
    {{/unless}}
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h4 class="mb-3 mt-2 d-flex align-self-center">
                Annoncetekst:
            </h4>
            <p>
                {{rtext}}
            </p>
        </div>
    </div>
</div>