<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 id="cvOverskrift" data-key="Virksomhed">Virksomhed</h1>
            <hr>
        </div>
    </div>
    <div class="row mt-3 mb-4">
        <div class="col-12 col-sm-2">

            {{#if loggedInVirksomhed.logo}}
                <img class="img-thumbnail border-0" src="/uploads/{{loggedInVirksomhed.logo}}">
            {{else}}
                <img class="img-thumbnail border-0" src="/images/no-logo.png">
            {{/if}}

        </div>
        <div class="col-3 col-lg-1">
            <div class="col">
                <h2 class="mb-3" data-key="Navn_kolon">
                    Navn:
                </h2>
                {{#if loggedInVirksomhed.visible_mail}}
                <h6 class="mb-3" data-key="Mail_kolon">
                    Mail:
                </h6>
                {{/if}}
                <h6 class="mb-3" data-key="Tlf_kolon">
                    Tlf:
                </h6>
                <h6 class="mb-3">
                    CVR:
                </h6>
                <h6 class="mb-3" data-key="Adresse_kolon">
                    Adresse:
                </h6>
                {{#if loggedInVirksomhed.hjemmeside}}
                <h6 class="mb-3" data-key="Hjemmeside_kolon">
                    Hjemmeside:
                </h6>
                {{/if}}
                {{#if loggedInVirksomhed.direktoer}}
                <h6 class="mb-3" data-key="Direktoer_kolon">
                    Direktør:
                </h6>
                {{/if}}
                {{#if loggedInVirksomhed.land}}
                <h6 class="mb-3" data-key="Land_kolon">
                    Land:
                </h6>
                {{/if}}
                <h6 class="mb-3" data-key="Postnummer_kolon">
                    Postnummer:
                </h6>
                <h6 class="mb-3" data-key="By_kolon">
                    By:
                </h6>
            </div>
        </div>
        <div class="col-7">
            <div class="col">
                <h2 class="mb-3">
                    {{loggedInVirksomhed.navn}}
                    <br>
                </h2>
                {{#if loggedInVirksomhed.visible_mail}}
                <h6 class="mb-3">
                    <a href="mailto:{{loggedInVirksomhed.email}}">{{loggedInVirksomhed.email}}</a>
                    <br>
                </h6>
                {{/if}}
                <h6 class="mb-3">
                    {{loggedInVirksomhed.tlfnr}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.cvrnr}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.adresse}}
                    <br>
                </h6>
                {{#if loggedInVirksomhed.hjemmeside}}
                <h6 class="mb-3">
                    {{loggedInVirksomhed.hjemmeside}}
                    <br>
                </h6>
                {{/if}}
                {{#if loggedInVirksomhed.direktoer}}
                <h6 class="mb-3">
                    {{loggedInVirksomhed.direktoer}}
                    <br>
                </h6>
                {{/if}}
                {{#if loggedInVirksomhed.land}}
                <h6 class="mb-3">
                    {{loggedInVirksomhed.land}}
                    <br>
                </h6>
                {{/if}}
                <h6 class="mb-3">
                    {{loggedInVirksomhed.postnr}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.by}}
                    <br>
                </h6>
            </div>
        </div>
        <div class="col-4 col-sm-2 d-flex flex-column">
            {{#if loggedInVirksomhed.ejer}}
            <button type="button" class="btn btn-success " onclick="window.location.href='/profil/rediger'" data-key="Rediger_profil">Rediger profil</button>
            {{/if}}
        </div>
    </div>
</div>