<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 id="cvOverskrift">Virksomhed</h1>
            <hr>
        </div>
    </div>
    <div class="row mt-3 mb-4">
        <div class="col-2">
            <img class="img-thumbnail border-0" src="\images\dummy-profile-pic.jpg" alt="PROFILBILLEDE">
        </div>
        <div class="col-1">
            <div class="col">
                <h2 class="mb-3">
                    Navn:
                </h2>
                <h6 class="mb-3">
                    Mail:
                </h6>
                <h6 class="mb-3">
                    Tlf:
                </h6>
                <h6 class="mb-3">
                    CVR:
                </h6>
                <h6 class="mb-3">
                    Adresse:
                </h6>
                <h6 class="mb-3">
                    Hjemmeside:
                </h6>
                <h6 class="mb-3">
                    Direktør:
                </h6>
                <h6 class="mb-3">
                    Land:
                </h6>
                <h6 class="mb-3">
                    Postnummer:
                </h6>
                <h6 class="mb-3">
                    By:
                </h6>
            </div>
        </div>
        <div class="col-7">
            <div class="col">
                <h2 class="mb-3">
                    {{loggedInVirksomhed.navn}}
                    <br>
                </h2>
                <h6 class="mb-3">
                    <a href="mailto:{{loggedInVirksomhed.email}}">{{loggedInVirksomhed.email}}</a>
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.tlfnr}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.cvrnr}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.adresse}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.hjemmeside}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.direktoer}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.land}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.postnr}}
                    <br>
                </h6>
                <h6 class="mb-3">
                    {{loggedInVirksomhed.by}}
                    <br>
                </h6>
            </div>
        </div>
        <div class="col-2 d-flex flex-column">
            <button type="button" class="btn btn-success " onclick="window.location.href='/profil/rediger'">Rediger profil</button>

            {{!-- {{#if ejer}}
            <button type="button" class="btn btn-success mt-3" onclick="window.location.href='../mit-cv/edit'">Rediger CV</button>
            {{/if}} --}}
        </div>
    </div>
    <hr class="mb-4">

{{!-- <div class="container-fluid ">
    <div id="cardContainerProfile" class="card-columns mt-5 mr-5">

        <div class="container">
            <div class="card bg-light text-dark mx-5 pl-4 pt-2 pb-3">
                <div class="profileDetailContainer">
                    <h4 data-key="virksomhedsoplysninger" class="card-title mb-0">Virksomheds oplysninger</h4>
                </div>

                <div class="profileDetailContainer">
                    <a href="/profil/rediger" class="font-weight-bold text-dark" data-key="redigerprofil"><u>Rediger
                        profil</u></a>
                </div>

                <div class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="navn">Navn</h5>
                    <p id="navn" class="card-text">Zealand Erhversakademi</p>
                </div>

                <div class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="email">Email</h5>
                    <p id="email" class="card-text">Zealand@zealand.dk</p>
                </div>

                <div id="hjemmesidediv" class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="hjemmeside">Hjemmeside</h5>
                    <p id="hjemmeside" class="card-text">https://www.zealand.dk/</p>
                </div>

                <div id="telefondiv" class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="telefon">Telefon nummer</h5>
                    <p id="telefon" class="card-text">12341234</p>
                </div>
                <div id="direktoerdiv" class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="direktoer">Direktør</h5>
                    <p id="direktoer" class="card-text">temp</p>
                </div>

                <h5 class="card-title mt-2" data-key="postnummerogby">Postnummer og By</h5>
                <div class="d-flex flex-row">
                    <p class="card-text pr-3" id="postnummer">4600</p>
                    <p class="card-text" id="by">Køge</p>
                </div>

                <div class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="adresse">Addresse</h5>
                    <p id="adresse" class="card-text">Lyngvej 21</p>
                </div>

                <div class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="land">Land</h5>
                    <p id="land" class="card-text">Danmark</p>
                </div>

                <div class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="CVR">CVR-nummer</h5>
                    <p id="CVR" class="card-text">31661471</p>
                </div>
            </div>
            <div class="card bg-light text-dark mx-5 pl-4 pt-2 pb-3 " id="beskrivelsediv">
                <h4 class="card-title mb-0" data-key="beskrivelse">Beskrivelse:</h4>
                <div class="w-100 h-100 pr-3 pt-2" id="beskrivelse" style="text-align:justify">orem ipsum dolor sit
                    amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna
                    aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                    in
                    vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                    eros et
                    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                    te
                    feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                    doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus
                    legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me
                    lius
                    quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem
                    consuetudium
                    lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                    litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui
                    nunc
                    nobis videntur parum clari, fiant sollemnes in futurum.
                </div>
            </div>
        </div>

        <div class="container ">
            <!--d-flex align-items-centerpl-4 pb-3   // d-flex justify-content-center align-items-center-->
            <div class="card bg-light text-dark  mr-5 ml-5 " id="logodiv">

                <img class="card-img " id="virksomhedslogodiv"
                     src="https://www.strunkmedia.com/wp-content/uploads/2018/05/bigstock-221516158.jpg" alt="Logo">

            </div>

            <div class="card bg-light text-dark pl-4 pt-2 pb-3 mr-5 ml-5" id="kontaktdiv">
                <h4 class="card-title mb-0" data-key="kontaktperson"> Kontakt person</h4>

                <div class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="navn">Fornavn</h5>
                    <p id="kontaktnavn" class="card-text">eksempel</p>
                </div>

                <div class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="efternavn">Efternavn</h5>
                    <p id="kontaktefternavn" class="card-text">eksempel</p>
                </div>

                <div class="profileDetailContainer">
                    <h5 class="card-title mt-2">Email</h5>
                    <p id="kontaktemail" class="card-text">eksempel</p>
                </div>

                <div class="profileDetailContainer">
                    <h5 class="card-title mt-2" data-key="stilling">Stlling</h5>
                    <p id="kontaktstilling" class="card-text">eksempel</p>
                </div>

            </div>

            <div class="card bg-light text-dark pl-4 pt-2 pb-3 mr-5 ml-5" id="dokumentdiv">
                <!-- til dokumenter, tænker indsat fra database med navn og download link osv -->
                <h4 class="card-title pb-1" data-key="dokumenter">Dokumenter</h4>

                <div class="d-flex flex-column" id="dokumenterhertil">

                    <a href="#">Dette er nogle eksempler</a>
                    <a href="#">Prospektus</a>
                    <a href="#">Praktik intro</a>

                </div>
            </div>
        </div>

    </div>

</div>


<script>
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            let responseObject = JSON.parse(this.responseText)

            // de "nødvendige", så de behøver ikke at blive kontrolleret, da de skal være der
            document.getElementById('email').innerText = responseObject.email;
            document.getElementById('navn').innerText = responseObject.navn;
            document.getElementById('postnummer').innerText = responseObject.postnr;
            document.getElementById('by').innerText = responseObject.by;
            document.getElementById('adresse').innerText = responseObject.adresse;
            document.getElementById('land').innerText = responseObject.land;
            document.getElementById('CVR').innerText = responseObject.cvrnr;
            document.getElementById('hjemmeside').innerText = responseObject.hjemmeside;
            document.getElementById('telefon').innerText = responseObject.tlfnr;
            document.getElementById('direktoer').innerText = responseObject.direktoer;

            if (responseObject.beskrivelse === undefined) {
                document.getElementById('beskrivelsediv').style.display = 'none'
            } else {
                document.getElementById('beskrivelse').innerText = responseObject.beskrivelse;
            }

            if (responseObject.kontaktnavn === undefined) {
                document.getElementById('kontaktdiv').style.display = 'none'
            } else {
                document.getElementById('kontaktnavn').innerText = responseObject.kontaktnavn
                document.getElementById('kontaktemail').innerText = responseObject.kontaktemail
                document.getElementById('kontaktefternavn').innerText = responseObject.kontaktefternavn
                document.getElementById('kontaktstilling').innerText = responseObject.kontaktstilling
            }

            if (responseObject.dokumenter === undefined) {
                document.getElementById('dokumentdiv').style.display = 'none'
            } else {
                document.getElementById('dokumenterhertil').innerText = responseObject.dokumenter
            }

            if (responseObject.logo === undefined) {
                document.getElementById('logodiv').style.display = 'none'
            } else {
                document.getElementById('virksomhedslogodiv').src = responseObject.logo
            }

            document.getElementById('cardContainerProfile').style.display = 'flex';
        }
        ;
    }
    xhttp.open("GET", "/profil/getUser", true);
    xhttp.send();

</script> --}}
